//
// Mixins
//

// scss-lint:disable VendorPrefix, Indentation
@mixin all-vendors($property, $value...) {
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}

//
// mixin font-size
@mixin font-size($px) {
  $px-value: strip-unit($px);
  $rem-value: $px-value / 16;
  font-size: $rem-value + rem;
}

//
// # mixin for media-query
@mixin media($query: $feature $value) {
  @if length($query) == 1 {
    @media ($default-feature: nth($query, 1)) {
      @content;
    }
  } @else {
    $loop-to: length($query);
    $media-query: "screen and ";

    @if length($query) % 2 != 0 {
      $loop-to: $loop-to - 1;
    }

    $i: 1;
    @while $i <= $loop-to {
      $media-query: $media-query + "(" + nth($query, $i) + ": " + nth($query, $i + 1) + ") ";

      @if ($i + 1) != $loop-to {
        $media-query: $media-query + "and ";
      }

      $i: $i + 2;
    }

    @media #{$media-query} {
      @content;
    }
  }
}

@mixin box-shadow($shadow...) {
  @include all-vendors(box-shadow, $shadow);
}

@mixin border-radius($radius) {
  @include all-vendors(border-radius, $radius);
  @include all-vendors(border-radius, $radius);
}
// scss-lint:enable VendorPrefix, Indentation

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}
