//
// Placeholders
//

// scss-lint:disable PropertySpelling, DeclarationOrder
%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  *zoom: 1;
}
// scss-lint:enable PropertySpelling, DeclarationOrder
