//
// variables
//

// typography
$base-font-family: "source sans pro", helvetica, arial, sans-serif !default;
$font-family-base: $base-font-family !default;
$font-family-serif: "droid serif", sans-serif !default;
$font-family-monospace: "courier new", monospace !default;
$heading-font-family: $font-family-serif !default;
$base-font-size: 1.2rem !default;
$font-size-base: $base-font-size !default;

// line height
$base-line-height: 1.5 !default;
$heading-line-height: 1.2 !default;

// other sizes
$base-border-radius: 3px !default;
$base-spacing: $base-line-height * 1em !default;
$small-spacing: $base-spacing / 2 !default;
$base-z-index: 0 !default;

// colors
$primary-color: #e97f02 !default;
$secondary-color: #bd1550 !default;
$tertiary-color: #490a3d !default;

$white-color: #fff !default;
$silver-color: darken($white-color, 22%) !default;
$gray-color: darken($white-color, 42%) !default;
$gray-dark-color: #2d3138 !default;
$code-color: #ededed !default;
$black-color: #000 !default;
$blue-color: #766dcc !default;

$facebook-color: #3b599f;
$twitter-color: #28a9e0;

// font colors
$txt-color: rgba($gray-dark-color, .6) !default;
$base-font-color: $txt-color !default;
$action-color: $primary-color !default;

// border
$base-border-color: tint($silver-color, 25%) !default;
$base-border: 1px solid $base-border-color !default;

// background colors
$base-background-color: $white-color !default;
$secondary-background-color: tint($base-border-color, 75%) !default;

// forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06) !default;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3) !default;

// link
$link-color: $primary-color !default;
$link-hover-color: shade($link-color, 10%) !default;

// animations
$base-duration: 150ms !default;
$base-timing: ease !default;

// grid
$small-screen: 480px;
$medium-screen: 960px;
$large-screen: 1280px;
$xlarge-screen: 1800px;

$screen-phone: $small-screen;
$screen-tablet: $medium-screen;
$screen-desktop: $large-screen;
$screen-large-desktop: $xlarge-screen;

$header-medium-width: 22em;
$header-large-width: 32em;

$gutter: 30px;
$gutter-padding: ($gutter/2);
$default-feature: min-width;

$medium-screen-up: new-breakpoint($default-feature $medium-screen 4);
$large-screen-up: new-breakpoint($default-feature $large-screen 8);
