//
// Gallery
//

.gallery {
  margin-left: -5px;
  margin-right: -5px;
  @extend %clearfix;

  .thumb {
    padding: 5px;
    margin: 0 0 10px;
    display: block;
    width: 100%;

    img {
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
    }

    a {
      display: inline-block;
      line-height: initial;
      margin: 0;
      padding: 5px;
      border: 1px solid #eee;
      @include transition(all .2s ease-in-out);

      &:hover,
      &:focus {
        border-color: #999;
        @include opacity(.8);
      }
    }

    @media screen and (min-width: 460px) {
      width: 50%;
      float: left;
    }
  }
}
