//
// pagination
//

.pagination {
  position: relative;
  margin: em(40px) auto;
  text-align: center;

  a {
    color: darken($silver-color, 10%);
    @include transition(all .2s linear);
  }
}

.older-posts,
.newer-posts {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @extend .btn;
  text-decoration: none;
  @include font-size(13px);
  padding: {
    top: 6px;
    bottom: 6px;
  };
  border: 1px solid $silver-color !important;

  @include media($screen-tablet) {
    position: absolute;
    width: auto;
    display: inline-block;
  }

  &:hover,
  &:focus {
    color: $txt-color;
    // border-color: $primary-color !important;
    background-color: $white-color;
  }
}

.older-posts {
  left: 0;
}

.newer-posts {
  right: 0;
}

.page-number {
  color: darken($silver-color, 10%);
  display: inline-block;
  padding: 8px 0;
  min-width: 100px;
  @include font-size(13px);
}

