//
// Posts
//

$post-spacing-y: 40px;
$post-spacing-x: 50px;
$post-small-spacing: 15px;

.post {
  padding-bottom: 0;
  overflow: hidden;

  .highlight,
  .disqus {
    margin-left: -($post-spacing-x);
    margin-right: -($post-spacing-x);
  }

  .disqus {
    background-color: #f7f8f9;
    border-top: 1px solid #E3E3E3;
    padding-bottom: $post-spacing-y;
  }

  .disqus,
  .highlight pre {
    padding-left: $post-spacing-x;
    padding-right: $post-spacing-x;
  }

  .highlight pre {
    padding-top: $post-spacing-y;
    padding-bottom: $post-spacing-y;
  }

  em {
    text-decoration: underline;
  }

  @include media($screen-tablet) {
    padding: $post-spacing-y $post-spacing-x;
  }
}

body:not(.post-template) {
  .post {
    padding-bottom: em(40px);
    margin-bottom: em(80px);
  }

  .post-title {
    @include font-size(22px);
    line-height: 1.1;
    margin-bottom: 10px;

    @include media($screen-tablet) {
      @include font-size(30px);
      line-height: $line-height;
    }
  }
}

.post-title {
  margin-top: 0;
}

.post-excerpt {
  p {
    margin: 0;
    @include font-size(15px);

    @include media($screen-tablet) {
      @include font-size(18px);
    }
  }
}

.post-title,
.post-excerpt {
  a {
    border: none;
    color: $txt-color;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

.post-meta {
  display: block;
  margin: em(25px) 0 0 0;
  @include font-size(12px);
  font-style: italic;
  color: #9EABB3;

  a {
    color: #9EABB3;
  }

  time,
  span {
    display: inline-block;
    @include font-size(14px);
    margin-bottom: em(10px);
  }

  @include media($screen-tablet) {
    span {
      border-left: 1px solid $border-color;
      padding-left: $post-small-spacing;
      margin-left: $post-small-spacing;
    }
    time,
    span {
      margin-bottom: 0;
    }
  }
}
