//
// buttons
//

.btn {
  display: inline-block;
  // height: 38px;
  padding: 8px 15px;
  text-align: center;
  @include font-size(14px);
  // line-height: 40px;
  border-radius: 3px;
  white-space: nowrap;
  @include transition(all linear .3s);
}

a.btn {
  border: none;
}

.back-button,
.subscribe-button,
.search-button {
  @extend .btn;
  text-transform: uppercase;
  background: rgba($black-color, .2);
  // background-color: transparent;
}

.back-button {
  float: left;
}

.subscribe-button,
.search-button {
  float: right;
}

.search-button {
  margin-right: 15px;
}

@include media(max-width $screen-phone) {
  .subscribe-button {
    margin-right: -15px;
  }

  .back-button {
    margin-left: -15px;
  }

  .subscribe-button,
  .back-button,
  .search-button {
    @include font-size(12px);
  }
}