//
// Grid system
//

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include media($screen-tablet) {
    width: $container-tablet-width;
  }

  @include media($screen-desktop) {
    width: $container-desktop-width;
  }
}