---
layout: page
title: "Erro 404: Página não encontrada"
slug: error404
permalink: 404.html
---

<main id="content" class="content" role="main">

  <div class="alert">
    <p>Desculpe, parece que essa URL está apontando para uma página que não existe. Tente voltar para a <a href="{{ site.baseurl }}/">Home</a> e tentar novamente. <br> <strong>Ou você pode ler os meus últimos posts listados logo abaixo :)</strong></p>
  </div>

  <hr>

  {% for post in site.posts limit:6 %}

  <article class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    <section class="post-excerpt">
      {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
    </section>
    <footer class="post-meta">
      {% if site.author %}
        <img class="author-thumb" src="{{ site.author.image }}" alt="{{ site.author.name }}" nopin="nopin" />
      {{ site.author.name }}
      {% endif %}
      {% if post.categories.size > 0 %}
        {{ post.categories | array_to_sentence_string | prepend: 'em ' }}
      {% endif %}
      <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }} de
        {% case m %}
          {% when '1' %}Janeiro
          {% when '2' %}Fevereiro
          {% when '3' %}Março
          {% when '4' %}Abril
          {% when '5' %}Maio
          {% when '6' %}Junho
          {% when '7' %}Julho
          {% when '8' %}Agosto
          {% when '9' %}Setembro
          {% when '10' %}Outubro
          {% when '11' %}Novembro
          {% when '12' %}Dezembro
        {% endcase %}
        de {{ post.date | date: "%Y" }}
      </time>
    </footer>
  </article>

  {% endfor %}

</main>
