<!DOCTYPE html>
<html class="no-js" lang="pt-br" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zS1dSn20XtA4FJYEOQLXqI0boxZdMnJ2g3beje-cl20">
    <title>Erro 404: Page not found | Zhewei Hu</title>
    <meta name="description" content="DevOps | Ruby on Rails">
    <meta name="keywords" content="Web application, Ruby, Ruby on Rails, RSpec, FactoryBot, Capybara, Git, MySQL, Heroku, Amazon AWS">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="theme-color" content="#333333">
    <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="100003797913346">
    <meta property="fb:app_id" content="585852118228520">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://localhost:4000/404.html">
    <meta property="og:title" content="Erro 404: Page not found | Zhewei Hu">
    <meta property="og:image" content="http://localhost:4000/assets/images/facebook.png">
    <meta property="og:description" content="DevOps | Ruby on Rails">
    <meta property="og:site_name" content="Zhewei Hu">
    <meta property="og:locale" content="pt_BR">
    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="Erro 404: Page not found | Zhewei Hu">
    <meta itemprop="description" content="DevOps | Ruby on Rails">
    <meta itemprop="image" content="http://localhost:4000/assets/images/facebook.png">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/ico/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/images/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- rel prev and next -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <!-- Canonical link tag -->
    <link rel="canonical" href="http://localhost:4000/404.html">
    <link rel="alternate" type="application/rss+xml" title="Zhewei Hu" href="http://localhost:4000/feed.xml">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript">
      var disqus_shortname = '';
    </script>
</head>
  <body class=" error404 single">
    <header class="header">
  <div class="header-in">
    <a href="/">
      <img src="/assets/images/author.png" alt="author thumb" class="dot author-thumb">
    </a>
    <h1 itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">Zhewei Hu</strong><br/>Software Engineer@Microsoft Azure<br/>Ph.D.@NC State</h1>
    <nav class="nav" role="navigation">
      <ul class="navbar" role="menu">
        <li role="menuitem"><a href="/about" class="after">About</a></li>
        <li role="menuitem"><a href="https://drive.google.com/file/d/1rjB-vXTay8Tus7VsFmHeecmE3am0ZVyY/view?usp=sharing" target="_blank" class="after">Resume</a></li>
        <li role="menuitem"><a href="/blogs" class="after">Blogs</a></li>
        <li role="menuitem"><a href="/publications" class="after">Publications</a></li>
        <li role="menuitem"><a href="/work_experience" class="after">Work Experience</a></li>
        <li role="menuitem" class="search">
          <a href="#" data-modal-search="modalSearch" class="after"><i class="fa fa-search"></i> <span>Search</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
    <main class="wrapper" role="main" itemprop="mainContentOfPage">
      <div class="post txt-center" itemprop="mainContentOfPage">
  <header class="post-header container">
    <h1>Erro 404: Page not found</h1>
  </header>
  <div class="container" role="alert">
    <p>Sorry, it seems that this URL is pointing to a page that does not exist. <br> Try to return to the Home and try again. <br> <strong>Or you can read my past articles listed below :)</strong></p>
  </div>
</div>
<div class="posts container">
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/books-i-finished-in-2025" title="Permalink para: Books I Finished In 2025">
        Books I Finished In 2025
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2025-12-31T15:59:59-08:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2025-12-31T15:59:59-08:00"> December 31, 2025
      </time>
      <span> - 
      <a href="/category/books/">Books</a></span>
    </div>
  </header>
  <p>Books I finished in 2025 with notes. Co-Intelligence: Living and Working with AI AI is a co-intelligence that can emulate how we think and write, and potentially improve or replace our work. Telling the system who it is... <a href="/blog/books-i-finished-in-2025" title="Permalink para: Books I Finished In 2025" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/books-i-finished-in-2024" title="Permalink para: Books I Finished In 2024">
        Books I Finished In 2024
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2024-12-25T15:59:59-08:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2024-12-25T15:59:59-08:00"> December 25, 2024
      </time>
      <span> - 
      <a href="/category/books/">Books</a></span>
    </div>
  </header>
  <p>Books I finished in 2024 with notes. Hit Refresh: The Quest to Rediscover Microsoft’s Soul and Imagine a Better Future for Everyone So many notable alumni from Hyderabad Public School (HPS): Shantanu Narayen, the CEO of Adobe; Ajay... <a href="/blog/books-i-finished-in-2024" title="Permalink para: Books I Finished In 2024" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/my-first-week-at-microsoft-azure" title="Permalink para: My First Week at Microsoft Azure">
        My First Week at Microsoft Azure
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2024-01-07T02:00:00-08:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2024-01-07T02:00:00-08:00"> January 07, 2024
      </time>
      <span> - 
      <a href="/category/personal-thoughts/">Personal Thoughts</a></span>
    </div>
  </header>
  <p>I just finished my first week at Microsoft Azure. It is quite different compared with Pinterest! Looking Back on the Last Five Years, Looking Forward to the Next Five Years I joined Pinterest in 2019. It has been... <a href="/blog/my-first-week-at-microsoft-azure" title="Permalink para: My First Week at Microsoft Azure" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/books-i-finished-in-2023" title="Permalink para: Books I Finished In 2023">
        Books I Finished In 2023
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2023-10-01T23:59:59-07:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2023-10-01T23:59:59-07:00"> October 01, 2023
      </time>
      <span> - 
      <a href="/category/books/">Books</a></span>
    </div>
  </header>
  <p>Books I finished in 2023 with notes. The Simple Path to Wealth: Your Road Map to Financial Independence and a Rich, Free Life The market always goes up. Investment portfolio: Stocks (VTSAX) + bonds (VBTLX) + cash, or... <a href="/blog/books-i-finished-in-2023" title="Permalink para: Books I Finished In 2023" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/books-i-finished-in-2022" title="Permalink para: Books I Finished In 2022">
        Books I Finished In 2022
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2022-12-31T15:59:59-08:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2022-12-31T15:59:59-08:00"> December 31, 2022
      </time>
      <span> - 
      <a href="/category/books/">Books</a></span>
    </div>
  </header>
  <p>Books I finished in 2022 with notes. Maybe You Should Talk To Someone: A Therapist, HER Therapist, and Our Lives Revealed A therapists also needs to see another therapist just like us. The Space Race Many astronauts have... <a href="/blog/books-i-finished-in-2022" title="Permalink para: Books I Finished In 2022" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/books-i-finished-in-2021" title="Permalink para: Books I Finished In 2021">
        Books I Finished In 2021
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2021-12-31T15:59:59-08:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2021-12-31T15:59:59-08:00"> December 31, 2021
      </time>
      <span> - 
      <a href="/category/books/">Books</a></span>
    </div>
  </header>
  <p>
  The book I finished in 2021 with one-sentence notes.
Educated: A Memoir
  Education can change your life.
/end
 <a href="/blog/books-i-finished-in-2021" title="Permalink para: Books I Finished In 2021" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/danger-bot-2-use-case" title="Permalink para: Danger Bot 2.0 Use Case">
        Danger Bot 2.0 Use Case
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2021-07-10T17:00:01-07:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2021-07-10T17:00:01-07:00"> July 10, 2021
      </time>
      <span> - 
      <a href="/category/research/">Research</a></span>
    </div>
  </header>
  <p>The below table demonstrates an elaborated use case of the Danger Bot 2.0. Steps Comments Explanation 1 An initial pull-request comment created by the Danger Bot 2.0. 2 When students add a new comment /dispute 846d e29c 4805,... <a href="/blog/danger-bot-2-use-case" title="Permalink para: Danger Bot 2.0 Use Case" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/danger-bot-2-tutorial-video" title="Permalink para: Danger Bot 2.0 Tutorial Video">
        Danger Bot 2.0 Tutorial Video
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2021-07-10T17:00:00-07:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2021-07-10T17:00:00-07:00"> July 10, 2021
      </time>
      <span> - 
      <a href="/category/research/">Research</a></span>
    </div>
  </header>
  <p>
  This tutorial video demonstrates the two-way communication capability of the Danger Bot 2.0.
References
  https://github.com/Winbobob/Improving-Feedback-on-GitHub-Pull-Requests-A-Bots-Approach
/end
 <a href="/blog/danger-bot-2-tutorial-video" title="Permalink para: Danger Bot 2.0 Tutorial Video" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/my-first-week-at-pinterest" title="Permalink para: My First Week at Pinterest">
        My First Week at Pinterest
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2019-08-23T17:10:40-07:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2019-08-23T17:10:40-07:00"> August 23, 2019
      </time>
      <span> - 
      <a href="/category/personal-thoughts/">Personal Thoughts</a></span>
    </div>
  </header>
  <p>I just finished my first week at Pinterest. Summarize my feeling in two words: awesome and fantastic! Fun fact: I met CEO Ben Silbermann four times in person (twice in a cafeteria, once in a corridor and once... <a href="/blog/my-first-week-at-pinterest" title="Permalink para: My First Week at Pinterest" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/how-to-conquer-the-object-oriented-design-and-development-course-part-II" title="Permalink para: How to conquer the Object-Oriented Design and Development (OODD) course? — Part II">
        How to conquer the Object-Oriented Design and Development (OODD) course? — Part II
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2019-08-05T17:00:00-07:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2019-08-05T17:00:00-07:00"> August 05, 2019
      </time>
      <span> - 
      <a href="/category/course-advice/">Course Advice</a></span>
    </div>
  </header>
  <p>Hello everyone, my name is Zhewei Hu. I am a site reliability engineer at Pinterest. Before that, I was a Ph.D. student under the direction of Dr. Ed Gehringer. I was the teaching assistant for the Object-Oriented Design... <a href="/blog/how-to-conquer-the-object-oriented-design-and-development-course-part-II" title="Permalink para: How to conquer the Object-Oriented Design and Development (OODD) course? — Part II" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/how-to-conquer-the-object-oriented-design-and-development-course-part-I" title="Permalink para: How to conquer the Object-Oriented Design and Development (OODD) course? — Part I">
        How to conquer the Object-Oriented Design and Development (OODD) course? — Part I
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2019-08-05T17:00:00-07:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2019-08-05T17:00:00-07:00"> August 05, 2019
      </time>
      <span> - 
      <a href="/category/course-advice/">Course Advice</a></span>
    </div>
  </header>
  <p>Hello everyone, my name is Zhewei Hu. I am a site reliability engineer at Pinterest. Before that, I was a Ph.D. student under the direction of Dr. Ed Gehringer. I was the teaching assistant for the Object-Oriented Design... <a href="/blog/how-to-conquer-the-object-oriented-design-and-development-course-part-I" title="Permalink para: How to conquer the Object-Oriented Design and Development (OODD) course? — Part I" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="/blog/phd-defense" title="Permalink para: Ph.D. Dissertation: Helping Students Make Better Contributions to Open-Source Software Projects">
        Ph.D. Dissertation: Helping Students Make Better Contributions to Open-Source Software Projects
      </a>
    </h1>
    <div class="post-meta">
      <time datetime="2019-05-14T17:00:01-07:00" itemprop="datePublished">
        <meta itemprop="datePublished" content="2019-05-14T17:00:01-07:00"> May 14, 2019
      </time>
      <span> - 
      <a href="/category/research/">Research</a></span>
    </div>
  </header>
  <p>On May 23rd 2019, I successfully defensed my Ph.D. dissertation: “Helping Students Make Better Contributions to Open-Source Software Projects”. I owe my sincere thanks to Dr. Edward Gehringer, my advisor, for his all-time support and guidance. I am... <a href="/blog/phd-defense" title="Permalink para: Ph.D. Dissertation: Helping Students Make Better Contributions to Open-Source Software Projects" class="read-more link"><em>Keep reading &raquo;</em></a></p>
</article>
</div>
    </main>
<footer class="footer">
  <ul class="social">
  <li>
    <a href="https://scholar.google.com/citations?user=NRbTY7EAAAAJ" class="icon-google-scholar" target="_blank">
      <i class="ai ai-google-scholar"></i>
    </a>
  </li>
  <li>
    <a href="http://github.com/Winbobob" class="icon-github" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/in/zhewei-hu" class="icon-linkedin" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  <li>
    <a href="https://hub.docker.com/u/winbobob" class="icon-docker" target="_blank">
      <i class="fab fa-docker"></i>
    </a>
  </li>
  <!-- <li>
    <a href="/feed.xml" target="_blank"><i class="fa fa-feed"></i></a>
  </li> -->
</ul>
</footer>
<a class="scroll-up fa fa-chevron-up bounce" href="#" data-position="0"></a>
<div id="modalSearch" class="modal-search" ng-app="searchApp">
  <div class="modal-search__overlay"></div>
  <div class="modal-search__content">
    <a href="#" class="modal-search-close" data-modal-close><img src="/assets/images/close.svg" alt="close search"></a>
    <div class="modal-search-container" ng-controller="searchController">
      <div class="form-group">
        <input type="text" class="modal-search-input" ng-keyup="pesquisar(search)" ng-model="search" placeholder="ruby, rails, expertiza, software development, data mining..." autocomplete="off">
        <i class="fa fa-search"></i>
      </div>
      <ul class="search-results" ng-show="posts.length > 0">
        <li ng-repeat="post in posts | filter:search">
          <a href="{( post.url )}">
            <span>{( post.title )}</span> <small>{( post.category )}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>