---
layout: default
title: Home
cover: false
about: 'about/'
---

<header class="main-header" style="background-image: url({% if page.cover %}{{ page.cover }}{%else%}{{ site.cover }}{% endif %})">
  <nav class="main-nav overlay clearfix">
    <a class="subscribe-button" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i> RSS</a>
    <a class="search-button" href="#!" data-modal="modalSearch"><i class="icon icon-search"></i></a>
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{ site.name }}</h1>
      <h2 class="page-description">
        {% if site.description %}{{ site.description }}{% endif %} <br><br>
        <span><a href='{{ site.baseurl }}{{ page.about }}'>Sobre mim</a></span>
        <span><a href='{{ site.baseurl }}projetos'>Projetos</a></span>
      </h2>
    </div>
  </div>

  <a class="scroll-down icon icon-chevron-left" href="#content" data-offset="-45"><span class="hidden"></span></a>
</header>

<main id="content" class="content" role="main">

  <div class="extra-pagination inner">
    {% include pagination.html %}
  </div>

  {% for post in paginator.posts %}
    {% include post.html %}
  {% endfor %}

  {% include pagination.html %}

</main>
