<!DOCTYPE html>
<html class="no-js" lang="pt-br" itemscope itemtype="http://schema.org/WebPage">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zS1dSn20XtA4FJYEOQLXqI0boxZdMnJ2g3beje-cl20">
    <title>Software Development Process Badsmells Detection • Zhewei Hu</title>
    <meta name="description" content="The goal of this project is to detect Bad Smells in the software development process by looking at the commits, issues, pull requests, labels and milestones ...">
    <meta name="keywords" content="Bad smell, GitHub, commit, issue, pull request, label, milestone">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="theme-color" content="#333333">
    <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="100003797913346">
    <meta property="fb:app_id" content="585852118228520">
    <meta property="og:type" content="article">
    <meta property="article:author" content="Zhewei Hu">
    <meta property="article:section" content="software-development">
    <meta property="article:tag" content="Bad smell, GitHub, commit, issue, pull request, label, milestone">
    <meta property="article:published_time" content="2015-04-25 12:34:56 +0000">
    <meta property="og:url" content="http://zhewe.me/software-development-process-badsmells-detection">
    <meta property="og:title" content="Software Development Process Badsmells Detection • Zhewei Hu">
    <meta property="og:image" content="http://zhewe.me/assets/images/facebook.png">
    <meta property="og:description" content="The goal of this project is to detect Bad Smells in the software development process by looking at the commits, issues, pull requests, labels and milestones ...">
    <meta property="og:site_name" content="Zhewei Hu">
    <meta property="og:locale" content="pt_BR">
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nandomoreirame">
    <meta name="twitter:title" content="Software Development Process Badsmells Detection • Zhewei Hu">
    <meta name="twitter:description" content="The goal of this project is to detect Bad Smells in the software development process by looking at the commits, issues, pull requests, labels and milestones ...">
    <meta name="twitter:image:src" content="http://zhewe.me/assets/images/facebook.png">
    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="Software Development Process Badsmells Detection • Zhewei Hu">
    <meta itemprop="description" content="The goal of this project is to detect Bad Smells in the software development process by looking at the commits, issues, pull requests, labels and milestones ...">
    <meta itemprop="image" content="http://zhewe.me/assets/images/facebook.png">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/ico/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/images/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- rel prev and next -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <!-- Canonical link tag -->
    <link rel="canonical" href="http://zhewe.me/software-development-process-badsmells-detection">
    <link rel="alternate" type="application/rss+xml" title="Zhewei Hu" href="http://zhewe.me/feed.xml">
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-52446115-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript">
      var disqus_shortname = '';
    </script>
</head>
  <body class=" software-development-process-badsmells-detection">
    <header class="header">
  <div class="header-in">
    <a href="/">
      <img src="/assets/images/author.png" alt="author thumb" class="dot author-thumb">
    </a>
    <h1 itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">Zhewei Hu</strong><br>DevOps | Ruby on Rails | Ph.D. student, TA/RA@NCSU | SDE Intern@Offers.com | SDE (DevOps) Intern@IBM</h1>
    <nav class="nav" role="navigation">
      <ul class="navbar" role="menu">
        <li role="menuitem"><a href="https://goo.gl/aAiUji" target="_blank" class="after">Resume</a></li>
        <li role="menuitem"><a href="/project" class="after">Projects</a></li>
        <li role="menuitem"><a href="/about" class="after">About</a></li>
        <!--<li role="menuitem"><a href="/timeline" class="after">Timeline</a></li>-->
        <li role="menuitem" class="search">
          <a href="#" data-modal-search="modalSearch" class="after"><i class="fa fa-search"></i> <span>Search</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
    <main class="wrapper" role="main" itemprop="mainContentOfPage">
      <article role="article" class="post" itemprop="articleBody">
<div class="container">
<header class="post-header">
  <h1 class="post-title">Software Development Process Badsmells Detection</h1>
  <div class="post-meta">
    <time datetime="2015-04-25T12:34:56+00:00" itemprop="datePublished">
      <meta itemprop="datePublished" content="2015-04-25T12:34:56+00:00"> April 25, 2015
    </time>
    <span> |
       <a href="/category/software-development/">Software Development</a>
    </span>
  </div>
</header>
  <div class="post-content">
    <h2 id="description">Description</h2>
<ol>
  <li>Used <code>gitable.py</code> to collect information from a specific Github Repo and store in the format of JSON.</li>
  <li>Wrote 14 <code>feature extractors</code> to further process the raw JSON data.</li>
  <li>Implemented 6 <code>bad smell detectors</code> to detect whether this repo exists some bad smells during development process, such as Issue Time Duration Detector, etc.</li>
  <li>Implemented 2 <code>early warning detectors</code> (Issue Duration Early Warning and Issue Interval Early Warning) to give early warnings of bad smell patterns.</li>
</ol>
<h2 id="related-material">Related Material</h2>
<ul>
  <li><u><a href="https://github.com/SuperCh-SE-NCSU/Project2_badsmell/blob/master/README.md" target="_blank">Project README</a></u></li>
</ul>
<p>/end</p>
  </div>
</div>
<footer class="post-footer">
  <div class="container">
    <section class="author">
      <img src="/assets/images/author.png" alt="author thumb" class="dot author-thumb">
      <h4>Zhewei Hu</h4>
      <p>A positive dreamer and doer with almost three years' Ruby on Rails development experience.</p>
    </section>
<aside class="share">
  <h4>Share.</h4>
  <a class="share-twitter" href="http://twitter.com/share?text=Software%20Development%20Process%20Badsmells%20Detection&amp;url=http://zhewe.me/software-development-process-badsmells-detection&amp;hashtags=web,dev,blog,soudev&amp;via=nandomoreirame" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    <i class="fa fa-twitter-square"></i>
  </a>
  <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://zhewe.me/software-development-process-badsmells-detection" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
    <i class="fa fa-facebook-square"></i>
  </a>
</aside>
  </div>
</footer>
</article>
    </main>
<footer class="footer">
  <ul class="social">
  <li>
    <a href="http://github.com/Winbobob" class="icon-github" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/in/zhewei-hu" class="icon-linkedin" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="https://hub.docker.com/u/winbobob" class="icon-docker" target="_blank">
      <i class="fa fa-docker"></i>
    </a>
  </li>
  <li>
    <a href="/feed.xml" target="_blank"><i class="fa fa-feed"></i></a>
  </li>
</ul>
</footer>
<a class="scroll-up fa fa-chevron-up bounce" href="#" data-position="0"></a>
<div id="modalSearch" class="modal-search" ng-app="searchApp">
  <div class="modal-search__overlay"></div>
  <div class="modal-search__content">
    <a href="#" class="modal-search-close" data-modal-close><img src="/assets/images/close.svg" alt="close search"></a>
    <div class="modal-search-container" ng-controller="searchController">
      <div class="form-group">
        <input type="text" class="modal-search-input" ng-keyup="pesquisar(search)" ng-model="search" placeholder="ruby, rails, expertiza, software development, data mining..." autocomplete="off">
        <i class="fa fa-search"></i>
      </div>
      <ul class="search-results" ng-show="posts.length &gt; 0">
        <li ng-repeat="post in posts | filter:search">
          <a href="%7B(%20post.url%20)%7D">
            <span>{( post.title )}</span> <small>{( post.category )}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>
