
<div class="container">

  {% include post/post-header.html %}

  {% if page.cover %}
    <figure class="post-thumb">
      <a href="{{ page.cover }}" class="swipebox" rel="gallery" title="{{ page.title }}">
        <img src="{{ page.cover }}" alt="{{ page.title }}" title="{{ page.title }}">
      </a>
    </figure>
  {% endif %}

  <br/>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- ad -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-4925097394354650"
      data-ad-slot="2907365250"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <div class="post-content">
    {{content}}
  </div>

</div>