<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
<script type="text/javascript">
  var disqus_identifier = '{{ page.id }}';
  var disqus_title = '{{ page.title }}';
  var disqus_url = '{{ site.url }}{{ post.url }}';
</script>

<aside id="comments" class="disqus">

  <div class="container-full">

    <hr>

    <h3>
      <i class="fa fa-comments"></i> <a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}" class="show-disqus"></a>
    </h3>

    <a href="#" class="show-disqus disqus-hidden">Deixe seu comentário</a>

    <div id="disqus_thread"></div>

  </div>

</aside>
