
.post {
  .post-content {
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 1.6em;
    }

    em {
      border-bottom: 1px solid $action-color;
    }
  }

  .post-thumb {
    max-height: 320px;
    overflow: hidden;
    margin-bottom: $base-spacing;
  }
}

.post-header {
  border-bottom: 1px solid $base-border-color;
  padding-bottom: ($small-spacing / 2);
  margin: {
    bottom: $base-spacing;
    top: 0;
  };

  h1 {
    @include font-size(32px);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.post-title {
  @include font-size(22px);
  margin-bottom: .4em;
  line-height: 1.4;
  text-transform: none;

  a {
    text-decoration: none;
    color: $txt-color;

    &:hover,
    &:active,
    &:focus {
      color: $link-color;
    }
  }

  @include media($screen-tablet) {
    @include font-size(30px);
  }
}

.post-meta {
  margin-top: $small-spacing;
  margin-bottom: $base-spacing;

  span, time, img {
    @include font-size(14px);
    color: $gray-color;
    vertical-align: middle;
    font-style: italic;
  }

  .fa {
    margin-right: .2em;
  }

  .author-thumb {
    height: 30px;
    width: 30px;
    margin-right: 4px;
  }
}

.posts {
  .post {
    position: relative;
    animation-duration: .9s;
    animation-name: bounce-left;
    margin-bottom: $base-spacing;
    padding-bottom: $base-spacing;
    // border-bottom: 1px solid $base-border-color;
    @extend %clearfix;

    p {
      width: 100%;
      overflow: hidden;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: $base-border-color;
      height: 2px;
      width: 50px;
    }
  }

  .post-header {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .post-title {
    margin-top: 0;
  }

  .post-meta {
    margin-top: $small-spacing;
    margin-bottom: $small-spacing;
  }
}

.disqus {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: $base-spacing;

  h3 {
    margin-top: 0;
  }

  #disqus_thread {
    &.loading {
    }
  }
}

.post-footer {
  background-color: darken($white-color, 5%);
  margin: $base-spacing 0;
  padding: $base-spacing 0;

  h4 {
    @include font-size(18px);
    font-weight: 400;
    margin: 0;
  }

  p {
    margin: 1em 0 0;
    line-height: 1.7em;
    @include font-size(15px);
  }

  .author {
    margin-right: 180px;
  }

  .author-thumb {
    width: 100px;
    float: left;
    margin-right: 1em;
    border-color: rgba($black-color, .2);
  }

  h4 a {
    color: $txt-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .share {
    position: absolute;
    width: 140px;
    top: .5em;
    right: 1.5em;
    text-align: center;

    h4 {
      margin-bottom: .6em;
    }

    a {
      font-size: 1.6em;
      display: inline-block;
      margin: 0 .3em 0;
      color: $gray-color;
      text-decoration: none;
      @include transition(opacity .4s linear);
      border: 0;
      opacity: .6;

      &.share-facebook {
        color: $facebook-color;
      }

      &.share-twitter {
        color: $twitter-color;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  @include media(max-width $screen-desktop) {
    .author,
    .author-thumb,
    .share {
      float: none;
      padding: 0;
      margin: 0;
      position: relative;
      text-align: center;
      clear: both;
    }

    .share {
      top: auto;
      margin: $base-spacing auto;
    }

    .author-thumb {
      display: inline;
      margin-bottom: 1em;
    }
  }
}
