.btn,
.button {
  appearance: none;
  background-color: $primary-color;
  border: 1px solid lighten($primary-color, 6%);
  @include border-radius($base-border-radius);
  color: $white-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold-font-weight;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  @include transition(background-color $base-duration $base-timing, color $base-duration $base-timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: shade($primary-color, 20%);
    color: $white-color;
  }

  &:active,
  &:focus {
    @include transform(scale(.9));
  }

  &.ghost {
    background-color: transparent;
    border-color: rgba($white-color, .85);

    &:before {
      background-color: $white-color;
      bottom: 0;
      content: "";
      left: 0;
      margin-left: 50%;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      @include transition(all .25s ease-out);
      width: 0;
      z-index: -1;
    }

    &:hover,
    &:focus {
      background-color: rgba($white-color, .2);
      color: lighten($secondary-color, 5%);

      &:before {
        margin-left: 0;
        opacity: 1;
        width: 100%;
      }
    }

    &:active:before {
      @include transform(scale(.96));
    }
  }

  &.secondary {
    background-color: $secondary-color;
    border-color: rgba($secondary-color, .8);

    &:hover,
    &:focus {
      background-color: shade($secondary-color, 20%);
    }
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      background-color: $primary-color;
    }
  }

  &.round {
    @include border-radius(300px);
  }
}
