
body.home {
  width: 100%;
  display: table;

  .wrapper {
    background-color: darken($secondary-color, 2%);
    display: table-cell;
    vertical-align: middle;
    padding: 0;
  }
}

.author-thumb {
  padding: 3px;
  border: 1px solid rgba($white-color, .3);
}

.svg-pattern {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }

  .polygon {
    transition: -webkit-transform 300ms ease-in-out, opacity 300ms ease-in-out;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    fill: transparent;
  }
}

.hero-inner {
  text-align: center;
  padding: $small-spacing $base-spacing 0;

  @include media($screen-tablet) {
    padding: 0 $base-spacing;
  }

  h1,
  .author-thumb,
  .social,
  .button-ghost {
    opacity: 0;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 10;
  }

  h1 {
    position: relative;
    animation-name: bounce-right;
    font-family: $font-family-base;
    color: rgba($white-color, .5);
    margin-top: ($small-spacing/2);
    margin-bottom: $small-spacing;
    padding-bottom: $small-spacing;
    @include font-size(26px);
    font-weight: 300;
    text-transform: none;
    animation-duration: .6s;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 50px;
      left: 50%;
      margin-left: -25px;
      height: 2px;
      background-color: rgba($white-color, .6);
    }

    strong {
      display: block;
      @include font-size(30px);
      line-height: 1.65;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -1px;

      @include media($screen-tablet) {
        @include font-size(56px);
        letter-spacing: -2px;
        line-height: 1.35;
      }

      @include media($screen-desktop) {
        @include font-size(72px);
      }

      @include media($screen-large-desktop) {
        @include font-size(86px);
      }
    }

    strong, em {
      color: $white-color;
    }

    @include media($screen-tablet) {
      @include font-size(34px);
    }

    @include media($screen-desktop) {
      @include font-size(36px);
    }
  }

  .social {
    animation-name: bounce-left;
  }

  .author-thumb,
  .button-ghost {
    animation-name: bounce-rotate;
    animation-duration: .7s;
  }

  .button-ghost {
    margin: .5em 0;
    width: 100%;
    display: block;

    @include media($screen-phone) {
      margin: 0 .2em;
      width: auto;
      display: inline-block;
    }
  }

  .button-ghost:first-child {
    animation-delay: .4s;
  }
}
