
.header {
  @extend %clearfix;
  background-color: darken($secondary-color, 2%);
  color: $white-color;
  padding: $base-spacing $small-spacing;
  text-align: center;
  overflow: hidden;
  position: relative;

  .svg-pattern {
    position: absolute;
  }

  .header-in {
    position: relative;
    z-index: 10;
  }

  @include media($screen-desktop) {
    height: 100%;
    width: $header-medium-width;
    position: fixed;
    padding: $base-spacing;
    left: 0;
    top: 0;
  }

  @include media($screen-large-desktop) {
    padding: ($base-spacing * 3) ($base-spacing * 2);
    width: $header-large-width;
  }

  a {
    text-decoration: none;
    color: $white-color;
  }

  .author-thumb {
    margin: 0 0 $base-spacing 0;
    animation-duration: .5s;
    animation-name: bounce-rotate;
    display: inline;
    width: 6.25em;
  }

  h1 {
    animation-name: bounce-right;
    font-family: $font-family-base;
    color: rgba($white-color, .5);
    line-height: 1.5;
    display: block;
    margin: 0 0 $small-spacing;
    @include font-size(22px);
    font-weight: 400;
    animation-duration: 1s;

    strong, em {
      color: rgba($white-color, .9);
    }

    strong {
      text-transform: uppercase;
    }

    @include media($screen-desktop) {
      @include font-size(20px);
      float: none;
    }

    @include media($screen-large-desktop) {
      @include font-size(26px);
    }
  }
}

.navbar {
  position: relative;
  list-style: none;
  padding: $small-spacing 0;
  margin: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    height: 2px;
    background-color: rgba($white-color, .6);
  }

  @include media($screen-desktop) {
    width: 100%;
  }

  li {
    font-size: 1rem;
    margin-left: 1em;
    padding: 0;

    @include media($screen-desktop) {
      margin: 0 0 .3em;
      display: block;
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
    }
  }

  li, a {
    display: inline-block;
  }

  a {
    padding: .6em;
    line-height: 1;
    color: rgba($white-color, .6);
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    @include transition(color .4s linear, border-color .4s linear);
  }

  li.active a,
  li.active a:hover,
  li.active a:focus,
  li.active a:active,
  li a:hover,
  li a:focus,
  li a:active {
    color: $white-color;
    border-color: $white-color;
  }
}
