
<header class="header">
  <div class="container">
    <h1 class="h3 header-title">
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </h1>

    <nav class="header-nav">
      <ul>
        <li><a href="/about" title="Sobre">Sobre</a></li>
        <li><a href="/portfolio" title="Portfolio">Portfolio</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Feed" target="_blank">Feed</a></li>
      </ul>
    </nav>
  </div>
</header>
