
<header class="header">
  <div class="container">
    <h1 class="h3 header-title">
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </h1>

    <nav class="header-nav">
      <ul>
        <li><a href="{{ "/sobre" | prepend: site.baseurl }}" title="Sobre">Sobre</a></li>
        <li><a href="{{ "/portfolio" | prepend: site.baseurl }}" title="Portfolio">Portfolio</a></li>
        <li><a href="https://github.com/nandomoreirame/cv" title="cv" target="_blank">CV</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS" target="_blank">RSS</a></li>
      </ul>
    </nav>
  </div>
</header>
