
<nav class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">&laquo; Mais antigo</a>
  {% else %}
    <span class="pagination-item older">&laquo; Mais antigo</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Mais novo &raquo;</a>
  {% else %}
    <span class="pagination-item newer">Mais novo &raquo;</span>
  {% endif %}
</nav>