<!-- article post loop -->
<article class="post">
  <header class="post-header">
    <h1 class="post-title">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </h1>
    {% if post.cover %}
    <figure class="post-thumb">
      <a href="{{ post.url }}" title="{{ post.title }}">
        <img src="{{ post.cover }}" alt="Thumb de: {{ post.title }}">
      </a>
    </figure>
    {% endif %}
  </header>
  <section class="post-excerpt">
    <a class="read-more" href="{{ post.url }}" title="{{ post.title }}">{{ post.content | strip_html | truncatewords: 50 }}</a>
  </section>
  <footer class="post-meta">
    {% if site.author %}
      {% image author.jpg class="author-thumb" alt="Author thumb" nopin="nopin" [autosize] %}
    {{ site.author.name }}
    {% endif %}

    {% if post.categories.size > 0 %}
      {% capture categories_content %} em: {% endcapture %}
      {% for post_category in post.categories %}
        {% for data_category in site.data.categories %}
          {% if data_category.slug == post_category %}
            {% assign category = data_category %}
          {% endif %}
        {% endfor %}
        {% if category %}
          {% capture categories_content_temp %}{{ categories_content }}<a href="/categoria/{{ category.slug }}/">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
          {% assign categories_content = categories_content_temp %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% assign categories_content = '' %}
    {% endif %}
    {{ categories_content }}

    <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }} de
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %}
      de {{ post.date | date: "%Y" }}
    </time>

    <span class="post-date"><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Deixe um comentário</a></span>
  </footer>
</article><!-- /article post loop -->
