---
layout: default
post_class: page-template
---

<div class="post txt-center" itemprop="mainContentOfPage">

  <header class="post-header container">
    <h1>{{ page.title }}</h1>
  </header>

  <div class="container" role="alert">
    <p>Sorry, it seems that this URL is pointing to a page that does not exist. <br> Try to return to the Home and try again. <br> <strong>Or you can read my past projects listed below :)</strong></p>
  </div>

</div>

<div class="posts container">
  {% for post in site.posts limit:12 %}
    {% include article.html %}
  {% endfor %}
</div>
