---
layout: default
post_class: page-template
---

<header class="main-header post-head" style="background-image: url({% if page.cover %}{{ page.cover }}{%else%}{{ site.cover }}{% endif %})" data-parallax="15">
  {% include nav.html %}
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{ page.title }}</h1>

      {% if page.slug == 'about' %}
        <figure class="fade-in-down">
          <img src="{{ site.author.image }}" class="dot" title="{{ site.author.name }}" alt="{{ site.author.name }}">
        </figure>
        <nav class="page-nav">
          <a href='{{ "/projetos" | prepend: site.baseurl }}'>Open Source</a>
        </nav>
      {% endif %}
    </div>
  </div>

  {% comment %}<a class="scroll-down icon icon-chevron-down bounce" href="#content" data-offset="-45"></a>{% endcomment %}
</header>

<main id="content" class="" role="main" itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/WebPage">

  <div class="container">
    <article role="article" class="post card" itemprop="mainContentOfPage">
      <section class="post-content">
        {{content}}
      </section>
    </article>
  </div>

  {% if page.slug == "error404" %}
  <div class="container">
    {% for post in site.posts limit:6 %}
      {% include post.html %}
    {% endfor %}
  </div>
  {% endif %}

</main>