---
slug: single
post_class: post-template
---
{% strip %}<!DOCTYPE html>
<html class="no-js" lang="pt-br" itemscope itemtype="http://schema.org/BlogPosting">
  {% include head.html %}
  <body class="{% if page.post_class %}{{page.post_class}}{% endif %} {% if page.slug %}{{page.slug}}{% endif %}">
    {% include header.html %}

    {% if page.slug == 'home' or page.slug == 'about' %}
      {% include banner.html %}
    {% endif %}

    <main class="wrapper" itemprop="mainContentOfPage">

      <article role="article" class="post" itemprop="articleBody">

        {% include post/post-content.html %}

        {% include post/post-footer.html %}

        {% if site.comments and page.comments %}
          {% include post/post-comments.html %}
        {% endif %}

      </article>

    </main>

    {% include footer.html %}

    {% include search-modal.html %}

    {% javascript main %}
  </body>
</html>{% endstrip %}
