---
layout: default
slug: single
post_class: post-template
itemtype: BlogPosting
---

<article role="article" class="post" itemprop="articleBody">

  {% include post/post-content.html %}

</article>

<br/>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4925097394354650"
     data-ad-slot="2907365250"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
