// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 50rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
  @extend %clearfix;
}

footer {
  padding: 1.5rem 2rem 0;
  margin-bottom: 2rem;
  // border-top: 1px solid #eee;
  text-align: center;
  @extend %clearfix;

  small {
    color: #999;
  }
}

body.about {
  figure {
    margin: 15px auto;
    display: block;
    text-align: center;

    img {
      display: inline;
      border-radius: 50%;
    }
  }

  .page {
    // text-align: center;
  }
}

.job {
  margin: 0 0 30px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;

  @media (min-width: 40em) {
    padding: 15px;
    width: 50%;
    float: left;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  figcaption {
    text-align: center;
    display: block;
    padding: 0 0 15px 0;

    .lead {
      color: #aaa;
    }
  }

  span {
    height: 260px;
    display: block;
    overflow: hidden;
    border: 8px solid #fff;
    box-shadow: 0px 0px 3px rgba(#000, .2);

    @media (max-width: 40em) {
      height: 200px;
    }
  }

  figure {
    display: block;
    padding: 0;
    margin: 0;

    img {
      border-radius: 0;
    }
  }

}