<!DOCTYPE html>
<html class="no-js" lang="pt-br" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zS1dSn20XtA4FJYEOQLXqI0boxZdMnJ2g3beje-cl20">
    <title>About me | Zhewei Hu</title>
    <meta name="description" content="Hello, my name is ZHEWEI HU. Software Engineer@Microsoft Azure | Ph.D.@NC State | SRE Intern&#39;18@Procore | SDE Intern&#39;17@IBM | SDE Intern&#39;16@Offers.com">
    <meta name="keywords" content="Web application, Ruby, Ruby on Rails, RSpec, FactoryBot, Capybara, Git, MySQL, Heroku, Amazon AWS">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="theme-color" content="#333333">
    <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="100003797913346">
    <meta property="fb:app_id" content="585852118228520">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://localhost:4000/about/">
    <meta property="og:title" content="About me | Zhewei Hu">
    <meta property="og:image" content="http://localhost:4000/assets/images/facebook.png">
    <meta property="og:description" content="Hello, my name is ZHEWEI HU. Software Engineer@Microsoft Azure | Ph.D.@NC State | SRE Intern&#39;18@Procore | SDE Intern&#39;17@IBM | SDE Intern&#39;16@Offers.com">
    <meta property="og:site_name" content="Zhewei Hu">
    <meta property="og:locale" content="pt_BR">
    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="About me | Zhewei Hu">
    <meta itemprop="description" content="Hello, my name is ZHEWEI HU. Software Engineer@Microsoft Azure | Ph.D.@NC State | SRE Intern&#39;18@Procore | SDE Intern&#39;17@IBM | SDE Intern&#39;16@Offers.com">
    <meta itemprop="image" content="http://localhost:4000/assets/images/facebook.png">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/ico/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/images/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- rel prev and next -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <!-- Canonical link tag -->
    <link rel="canonical" href="http://localhost:4000/about/">
    <link rel="alternate" type="application/rss+xml" title="Zhewei Hu" href="http://localhost:4000/feed.xml">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript">
      var disqus_shortname = '';
    </script>
</head>
  <body class=" about">
    <header class="header">
  <div class="header-in">
    <a href="/">
      <img src="/assets/images/author.png" alt="author thumb" class="dot author-thumb">
    </a>
    <h1 itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">Zhewei Hu</strong><br/>Software Engineer@Microsoft Azure<br/>Ph.D.@NC State</h1>
    <nav class="nav" role="navigation">
      <ul class="navbar" role="menu">
        <li role="menuitem"><a href="/about" class="after">About</a></li>
        <li role="menuitem"><a href="https://drive.google.com/file/d/1rjB-vXTay8Tus7VsFmHeecmE3am0ZVyY/view?usp=sharing" target="_blank" class="after">Resume</a></li>
        <li role="menuitem"><a href="/blogs" class="after">Blogs</a></li>
        <li role="menuitem"><a href="/publications" class="after">Publications</a></li>
        <li role="menuitem"><a href="/work_experience" class="after">Work Experience</a></li>
        <li role="menuitem" class="search">
          <a href="#" data-modal-search="modalSearch" class="after"><i class="fa fa-search"></i> <span>Search</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
    <main class="wrapper" role="main" itemprop="mainContentOfPage">
      <article class="post" itemprop="mainContentOfPage">
  <div class="container">
    <header class="post-header">
      <h1>About me</h1>
    </header>
    <div itemscope itemtype="http://schema.org/Person">
  <p>Hello, my name is Zhewei Hu. I received my Ph.D. degree from the <a href="http://www.csc.ncsu.edu/" target="_blank">Department of Computer Science</a> at <a href="https://www.ncsu.edu/" target="_blank">North Carolina State University</a> in May 2019. My advisor is <a href="https://csc.ncsu.edu/people/efg/" target="_blank">Dr. Edward F. Gehringer</a>. My research mainly focuses on computer science education and software engineering as student activities. Before joining NC State, I received my Bachelor degree from <a href="http://www.zjnu.edu.cn/english/" target="_blank">Zhejiang Normal University</a>, China in 2014.</p>
  <p>In August 2019, I joined Pinterest as a full-time site reliability engineer.</p>
  <p>In July 2022, I switched to software engineer role at Pinterest.</p>
  <p>In January 2024, I joined Microsoft Azure as a senior software engineer.</p>
  <h3>My presentations</h3>
  <ul>
    <li>Nov. 10th, 2025 - <a href="https://colocatedeventsna2025.sched.com/event/28D5E/envoy-filters-powering-effortless-observability-at-scale-zhewei-hu-microsoft-kuo-chung-hsu-pinterest" target="_blank">Envoy Filters: Powering Effortless Observability at Scale</a> in KubeCon North America 2025 at Atlanta, GA.</li>
    <li>Mar. 12th, 2019 - <a href="https://events.reporter.ncsu.edu/asee/" target="_blank">2019 ASEE Southeastern Section Conference</a> at Raleigh, NC.(<a href="https://goo.gl/qsUp8Y" target="_blank">slide</a>)</li>
    <li>May  30th, 2018 - <a href="https://www.icse2018.org/event/icse-2018-software-engineering-education-and-training-open-source-sofware-in-class-students-common-mistakes" target="_blank">ICSE 2018 SEET</a> at Gothenburg, Sweden.(<a href="https://goo.gl/p4xkua" target="_blank">slide</a>)</li>
    <li>Nov. 17th, 2017 - Faculty Open Source Workshop (FOSS) at Redhat, Raleigh, NC.(<a href="https://goo.gl/p4xkua" target="_blank">slide</a>)</li>
    <li>Oct. 23rd, 2017 - <a href="https://2017.splashcon.org/event/splash-2017-splash-e-open-source-sofware-in-class-students-common-mistakes" target="_blank">SPLASH 2017 SPLASH-E</a> at Vancouver, Canada.(<a href="https://goo.gl/p4xkua" target="_blank">slide</a>)</li>
    <li>Nov. 18th, 2016 - Faculty Open Source Workshop (FOSS) at Redhat, Raleigh, NC.(<a href="https://goo.gl/aFdCvz" target="_blank">slide</a>)</li>
    <li>Oct. 15th, 2016 - IEEE Frontier in Education (FIE) at Erie, PA. (<a href="https://goo.gl/jSpT2e" target="_blank">slide</a>)</li>
    <li>Jun. 29th, 2016 - Education Data Mining (EDM) CSPRED workshop at Raleigh, NC. (<a href="https://goo.gl/e9Mt4w" target="_blank"><u>slide</u></a>)
    </ul>
</div>
<hr>
<p>To contact me please send an email to <em itemprop="email"><a href="mailto:zhewei.hu33@gmail.com">zhewei.hu33 AT gmail.com</a></em> or look me in one of my social networks.</p>
<script type="text/javascript" src="//ra.revolvermaps.com/0/0/8.js?i=0jhidttkite&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
  </div>
</article>
    </main>
<footer class="footer">
  <ul class="social">
  <li>
    <a href="https://scholar.google.com/citations?user=NRbTY7EAAAAJ" class="icon-google-scholar" target="_blank">
      <i class="ai ai-google-scholar"></i>
    </a>
  </li>
  <li>
    <a href="http://github.com/Winbobob" class="icon-github" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/in/zhewei-hu" class="icon-linkedin" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  <li>
    <a href="https://hub.docker.com/u/winbobob" class="icon-docker" target="_blank">
      <i class="fab fa-docker"></i>
    </a>
  </li>
  <!-- <li>
    <a href="/feed.xml" target="_blank"><i class="fa fa-feed"></i></a>
  </li> -->
</ul>
</footer>
<a class="scroll-up fa fa-chevron-up bounce" href="#" data-position="0"></a>
<div id="modalSearch" class="modal-search" ng-app="searchApp">
  <div class="modal-search__overlay"></div>
  <div class="modal-search__content">
    <a href="#" class="modal-search-close" data-modal-close><img src="/assets/images/close.svg" alt="close search"></a>
    <div class="modal-search-container" ng-controller="searchController">
      <div class="form-group">
        <input type="text" class="modal-search-input" ng-keyup="pesquisar(search)" ng-model="search" placeholder="ruby, rails, expertiza, software development, data mining..." autocomplete="off">
        <i class="fa fa-search"></i>
      </div>
      <ul class="search-results" ng-show="posts.length > 0">
        <li ng-repeat="post in posts | filter:search">
          <a href="{( post.url )}">
            <span>{( post.title )}</span> <small>{( post.category )}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>