---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "helpers",
  "screen",
	"syntax"
;
