
<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <p class="copyright text-muted">&copy;{{ site.author.name }}</p>
  </div>
</footer>

{% if site.environment == 'prod' %}
  {% include JB/analytics %}
{% endif %}

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap{% if site.environment == 'prod' %}.min{% endif %}.js"></script>
<script src="{{ ASSET_PATH }}/js/main{% if site.environment == 'prod' %}.min{% endif %}.js"></script>
