
{% include partials/navbar.html %}

<header class="intro-header" style="background-image: url('/assets/images/header-02.jpg')">

  <div class="container">

    <div class="row">

      <div class="col-md-10 col-md-offset-1">

        {% if page.id %}
          <div class="post-heading">
        {% else %}
          <div class="site-heading">
        {% endif %}

          {% if page.header %}
            <h1>{{ page.header }}</h1>
          {% elsif page.title %}
            <h1>{{ page.title }}</h1>
          {% else %}
            <h1>{{ site.title }}</h1>
          {% endif %}

          {% if page.id %}
            <h2 class="subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
            <span class="meta">Cagetoria <a href="#">Start Bootstrap</a> | postado em {{ page.date | date_to_long_string }}</span>
          {% else %}
            <hr class="small">

            {% if page.tagline %}
              <span class="subheading">{{ page.tagline }}</span>
            {% else %}
              <span class="subheading">{{ site.tagline }}</span>
            {% endif %}
          {% endif %}

        </div>
      </div>

    </div>

  </div>

</header>