<!DOCTYPE html>
<html class="no-js" lang="pt-br" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zS1dSn20XtA4FJYEOQLXqI0boxZdMnJ2g3beje-cl20">
    <title>Books I Finished In 2022 • Zhewei Hu</title>
    <meta name="description" content="Books I Finished In 2022">
    <meta name="keywords" content="Book, Audible">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="theme-color" content="#333333">
    <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="100003797913346">
    <meta property="fb:app_id" content="585852118228520">
    <meta property="og:type" content="article">
    <meta property="article:author" content="Zhewei Hu">
    <meta property="article:section" content="books">
    <meta property="article:tag" content="Book, Audible">
    <meta property="article:published_time" content="2022-12-31 15:59:59 -0800">
    <meta property="og:url" content="http://localhost:4000/blog/books-i-finished-in-2022">
    <meta property="og:title" content="Books I Finished In 2022 • Zhewei Hu">
    <meta property="og:image" content="http://localhost:4000/assets/images/facebook.png">
    <meta property="og:description" content="Books I Finished In 2022">
    <meta property="og:site_name" content="Zhewei Hu">
    <meta property="og:locale" content="pt_BR">
    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="Books I Finished In 2022 • Zhewei Hu">
    <meta itemprop="description" content="Books I Finished In 2022">
    <meta itemprop="image" content="http://localhost:4000/assets/images/facebook.png">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/ico/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/images/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- rel prev and next -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <!-- Canonical link tag -->
    <link rel="canonical" href="http://localhost:4000/blog/books-i-finished-in-2022">
    <link rel="alternate" type="application/rss+xml" title="Zhewei Hu" href="http://localhost:4000/feed.xml">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript">
      var disqus_shortname = '';
    </script>
</head>
  <body class=" books-I-finished-in-2022">
    <header class="header">
  <div class="header-in">
    <a href="/">
      <img src="/assets/images/author.png" alt="author thumb" class="dot author-thumb">
    </a>
    <h1 itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">Zhewei Hu</strong><br/>Software Engineer@Microsoft Azure<br/>Ph.D.@NC State</h1>
    <nav class="nav" role="navigation">
      <ul class="navbar" role="menu">
        <li role="menuitem"><a href="/about" class="after">About</a></li>
        <li role="menuitem"><a href="https://drive.google.com/file/d/1rjB-vXTay8Tus7VsFmHeecmE3am0ZVyY/view?usp=sharing" target="_blank" class="after">Resume</a></li>
        <li role="menuitem"><a href="/blogs" class="after">Blogs</a></li>
        <li role="menuitem"><a href="/publications" class="after">Publications</a></li>
        <li role="menuitem"><a href="/work_experience" class="after">Work Experience</a></li>
        <li role="menuitem" class="search">
          <a href="#" data-modal-search="modalSearch" class="after"><i class="fa fa-search"></i> <span>Search</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
    <main class="wrapper" role="main" itemprop="mainContentOfPage">
      <article role="article" class="post" itemprop="articleBody">
<div class="container">
<header class="post-header">
  <h1 class="post-title">Books I Finished In 2022</h1>
  <div class="post-meta">
    <time datetime="2022-12-31T15:59:59-08:00" itemprop="datePublished">
      <meta itemprop="datePublished" content="2022-12-31T15:59:59-08:00"> December 31, 2022
    </time>
    <span> |
       <a href="/category/books/">Books</a>
    </span>
  </div>
</header>
  <div class="post-content">
    <blockquote>
  <p>Books I finished in 2022 with notes.</p>
</blockquote>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51KrBjE9ajL._SL500_.jpg" alt="Maybe You Should Talk To Someone: A Therapist, HER Therapist, and Our Lives Revealed" style="width:40%;" /></p>
<h1 id="maybe-you-should-talk-to-someone-a-therapist-her-therapist-and-our-lives-revealed">Maybe You Should Talk To Someone: A Therapist, HER Therapist, and Our Lives Revealed</h1>
<ul>
  <li>A therapists also needs to see another therapist just like us.</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51ll1lebmWL._SL500_.jpg" alt="The Space Race" style="width:40%;" /></p>
<h1 id="the-space-race">The Space Race</h1>
<ul>
  <li>Many astronauts have walked on the moon after Neil Armstrong.</li>
  <li>The International Space Station will be retired in 2030.</li>
  <li>The private spaceflight companies are playing more and more important roles.</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/413sJKNzuGL._SL500_.jpg" alt="Super Mario: How Nintendo Conquered America" style="width:40%;" /></p>
<h1 id="super-mario-how-nintendo-conquered-america">Super Mario: How Nintendo Conquered America</h1>
<ul>
  <li>Mar. 10</li>
  <li>Mario and Luigi</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51-zooqOoeL._SL500_.jpg" alt="Why We Sleep: Unlocking the Power of Sleep and Dreams" style="width:40%;" /></p>
<h1 id="why-we-sleep-unlocking-the-power-of-sleep-and-dreams">Why We Sleep: Unlocking the Power of Sleep and Dreams</h1>
<ul>
  <li>Sleep is very important.</li>
  <li>You need 7-9 hours of sleep per day.</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51KDoMNh8cL._SL500_.jpg" alt="Hunt, Gather, Parent: What Ancient Cultures Can Teach Us About the Lost Art of Raising Happy, Helpful Little Humans" style="width:40%;" /></p>
<h1 id="hunt-gather-parent-what-ancient-cultures-can-teach-us-about-the-lost-art-of-raising-happy-helpful-little-humans">Hunt, Gather, Parent: What Ancient Cultures Can Teach Us About the Lost Art of Raising Happy, Helpful Little Humans</h1>
<ul>
  <li>Avoid instruct your kids too much, let them to explore the world.</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51nVHFEn9eL._SL500_.jpg" alt="Busy Toddler's Guide to Actual Parenting: From Their First 'No' to Their First Day of School (and Everything in Between)" style="width:40%;" /></p>
<h1 id="busy-toddlers-guide-to-actual-parenting-from-their-first-no-to-their-first-day-of-school-and-everything-in-between">Busy Toddler’s Guide to Actual Parenting: From Their First ‘No’ to Their First Day of School (and Everything in Between)</h1>
<ul>
  <li>Sensory bin may be a good tool for your kids.</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51QjSoOqxwL._SL500_.jpg" alt="How to Raise an Adult: Break Free of the Overparenting Trap and Prepare Your Kid for Success" style="width:40%;" /></p>
<h1 id="how-to-raise-an-adult-break-free-of-the-overparenting-trap-and-prepare-your-kid-for-success">How to Raise an Adult: Break Free of the Overparenting Trap and Prepare Your Kid for Success</h1>
<ul>
  <li>Avoid helicopter parenting</li>
  <li>Ask your kids to do some chores</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51A+ieh0-aL._SL500_.jpg" alt="The Smartest Kids in the World: And How They Got That Way" style="width:40%;" /></p>
<h1 id="the-smartest-kids-in-the-world-and-how-they-got-that-way">The Smartest Kids in the World: And How They Got That Way</h1>
<ul>
  <li>Sisu</li>
  <li>PISA exam</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51ZMlBEI7BL._SL500_.jpg" alt="Grit: The Power of Passion and Perseverance" style="width:40%;" /></p>
<h1 id="grit-the-power-of-passion-and-perseverance">Grit: The Power of Passion and Perseverance</h1>
<p>Grit formula:</p>
<ul>
  <li>Talent x effort = skill</li>
  <li>Skill x effort = achievement</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51s11AU4otL._SL500_.jpg" alt="No Rules Rules: Netflix and the Culture of Reinvention" style="width:40%;" /></p>
<h1 id="no-rules-rules-netflix-and-the-culture-of-reinvention">No Rules Rules: Netflix and the Culture of Reinvention</h1>
<ul>
  <li>[<a href="https://en.wikipedia.org/wiki/Pratfall_effect">The pratfall effect</a>] For leaders who demonstrate their competencies, whisper wins and shout mistakes.</li>
  <li>5A feedback guidelines:
    <ol>
      <li>Aim to assist</li>
      <li>Actionable</li>
      <li>Appreciate</li>
      <li>Accept or discard</li>
      <li>Adapt</li>
    </ol>
  </li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/41dZIPKXcRL._SL500_.jpg" alt="The Whole-Brain Child: 12 Revolutionary Strategies to Nurture Your Child's Developing Mind" style="width:40%;" /></p>
<h1 id="the-whole-brain-child-12-revolutionary-strategies-to-nurture-your-childs-developing-mind">The Whole-Brain Child: 12 Revolutionary Strategies to Nurture Your Child’s Developing Mind</h1>
<p>Strategies I think are helpful:</p>
<ol>
  <li>Connect and re-direct</li>
  <li>Move it or lose it</li>
  <li>Feelings come and go</li>
  <li>Enjoy each other</li>
  <li>Connect through conflict</li>
  <li>Use it or lose it</li>
</ol>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51Oi+FcrkKL._SL500_.jpg" alt="Guns, Germs and Steel: The Fate of Human Societies" style="width:40%;" /></p>
<h1 id="guns-germs-and-steel-the-fate-of-human-societies">Guns, Germs and Steel: The Fate of Human Societies</h1>
<ul>
  <li>The longest book I have ever listened.</li>
  <li>One fun fact: plants usually make their fruit delicious but make seeds bitter. It makes animals more likely to eat fruits while not crushing their seeds. So the seeds could be spread in various areas by different animals.</li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51j1P236E3L._SL500_.jpg" alt="The Hard Thing About Hard Things: Building a Business When There Are No Easy Answers" style="width:40%;" /></p>
<h1 id="the-hard-thing-about-hard-things-building-a-business-when-there-are-no-easy-answers">The Hard Thing About Hard Things: Building a Business When There Are No Easy Answers</h1>
<ul>
  <li>This book talks about how to become an excellent CEO including tips like how to recruit executives that fits the company under the current scale.</li>
  <li>However, there are still some tips that are helpful to me as an individual contributor:
    <ol>
      <li>When you are a part of a family, you cannot always think about yourself first. Stop being a boy, become a man.</li>
      <li>The company takes care of the people, the products, and the profits—in that order.</li>
      <li>Training is a good investment for your new hires. You will not waste the training time. By contrast, good training can increase employee productivity significantly.</li>
      <li>People judge you for what you did instead of how you feel. Both hero and coward will feel afraid, but the hero can fight the feelings off and make things done.</li>
    </ol>
  </li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/41vNqW7L8KL._SL500_.jpg" alt="Bringing Up Bébé: One American Mother Discovers the Wisdom of French Parenting" style="width:40%;" /></p>
<h1 id="bringing-up-bébé-one-american-mother-discovers-the-wisdom-of-french-parenting">Bringing Up Bébé: One American Mother Discovers the Wisdom of French Parenting</h1>
<p>Several learnings and thoughts:</p>
<ol>
  <li>The book mentioned that the French children, even 2-3 months old, could have 4 meals at the same time as adults (breakfast: 8 am, lunch: noon, goûter: 4 pm, and dinner: 8 pm) and could sleep the whole night. I find it difficult for my almost 2-month-old daughter to follow these eating and sleeping mechanisms. But I am trying to let her sleep longer (4-6 hours) during the night.</li>
  <li>It’s important to let kids wait and delay to satisfy their requirements.</li>
  <li>Even for babies who cannot speak, they can understand most things.</li>
  <li>It’s crucial to have adult time and separate from your children, which is beneficial for both you and your kids.</li>
  <li>In order for parents to have authority, you should say yes to most of the things and only say no for several things that you do not want your kids to do.</li>
  <li>Autonomy is one of the child’s most basic needs.</li>
</ol>
<hr />
<p><img src="https://m.media-amazon.com/images/I/61ohIdFlPsL._SL500_.jpg" alt="The Manager's Path: A Guide for Tech Leaders Navigating Growth and Change" style="width:40%;" /></p>
<h1 id="the-managers-path-a-guide-for-tech-leaders-navigating-growth-and-change">The Manager’s Path: A Guide for Tech Leaders Navigating Growth and Change</h1>
<ul>
  <li>This book talks about tips and suggestions about how to be a good mentor, tech lead, manager, senior manager, director, and executive.</li>
  <li>I finished the chapters involving the mentor, tech lead, and manager.</li>
  <li>Hopefully, I could have a chance to read the rest chapters.</li>
  <li>What I was inspired from five out of ten chapters:
    <ul>
      <li>As an individual contributor:
        <ol>
          <li>It is crucial to talk about your recent life a little bit in the one-on-one meetings with your manager, so your manager will have context about the reasons behind your energy level changes.</li>
          <li>Good one-on-one meetings does not only include status updates (which may be better to written in emails or chats). Try to bring in some topics to meetings.</li>
          <li>Your manager expects you to bring solutions not problems. When you have a problem, instead of demanding that your manager solves it for you, try to ask for advice about how s/he might approach the problem.</li>
          <li>You may be an introvert and/or not find socializing easy, but the conscious effort and practice in getting to know new people and helping them succeed will pay off.</li>
        </ol>
      </li>
      <li>As a manager:
        <ol>
          <li>Listening is the first and the basic skill of managing people.</li>
          <li>Delivering feedback to your team members quickly (immediately after a meeting if possible) is more valuable than waiting for a convenient time to say something.</li>
          <li>You can switch tracks (management track and technical track) if you want.</li>
          <li>Your technical skills is an important criteria to become a successful engineering manager. Try to implement small features and bug fixes, which could help you to stay close enough to the code base, and identify and experience the bottleneck and process problems.</li>
          <li>Doubling rule of software estimation: whenever asked for an estimate, take your guess and double it.</li>
        </ol>
      </li>
    </ul>
  </li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/41WufhfFf7L._SL500_.jpg" alt="Think Again: The Power of Knowing What You Don't Know" style="width:40%;" /></p>
<h1 id="think-again-the-power-of-knowing-what-you-dont-know">Think Again: The Power of Knowing What You Don’t Know</h1>
<ul>
  <li>As we think and talk, we often slip into the mindsets of three different professions: preachers, prosecutors, and politicians.
    <ul>
      <li>Preacher mode: when our sacred beliefs are in jeopardy, we deliver sermons to protect and promote our ideals.</li>
      <li>Prosecutor mode: when we recognize flaws in other people’s reasoning, we marshal arguments to prove them wrong and win our case. I often act as a prosecutor during the arguments.</li>
      <li>Politician mode: when we’re seeking to win over an audience, we campaign and lobby for the approval of our constituents.</li>
    </ul>
  </li>
  <li>If knowledge is power, knowing what we don’t know is wisdom.</li>
  <li>The sweet spot of confidence (neither overconfident nor underconfident)
    <ul>
      <li>You can be confident in your ability to achieve the goal in the future while maintaining the humility to question whether you have the right tools in the present.</li>
    </ul>
  </li>
  <li>Action items that inspire me
    <ul>
      <li>Seek out information that goes against your views</li>
      <li>Embrace the joy being wrong</li>
      <li>Learn something new from each person you meet</li>
      <li>Build a challenge network (my wife in my case), not just a support network</li>
      <li>Don’t shy away from constructive conflicts</li>
      <li>Practice the art of persuasive listening</li>
      <li>Less is often more
        <ul>
          <li>If you have too many arguments, you will dilute the power of each and everyone. They are going to be less well-explained.</li>
        </ul>
      </li>
      <li>Invite kids to do multiple drafts and seek feedback from others</li>
      <li>Stop asking kids what they want to be when they grow up
        <ul>
          <li>Kids don’t have to define themselves in terms of career.</li>
          <li>A single identity can close the door of alternatives.</li>
          <li>Instead of narrow their opportunities, help them broad their possibilities.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>I also learned lots of psychology, sociology and other terms.
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Anton_syndrome">Anton syndrome</a></li>
      <li><a href="https://en.wiktionary.org/wiki/armchair_quarterback">Armchair quarterback syndrome</a>
        <ul>
          <li>The opposite of impostor syndrome.</li>
        </ul>
      </li>
      <li><a href="https://www.psychology-lexicon.com/cms/glossary/39-glossary-f/9594-first-instinct-fallacy.html">First-instinct fallacy</a>
        <ul>
          <li>It happened a lot when I answered the multiple-choice questions on exams. Many times I stuck to my instinct and got the wrong answer.</li>
        </ul>
      </li>
      <li>Totalitarian ego
        <ul>
          <li>The mental gate-keeper that keeps threatening information out of our heads.</li>
        </ul>
      </li>
      <li><a href="https://en.wikipedia.org/wiki/Group_polarization">Group polarization</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Overview_effect">Overview effect</a></li>
      <li><a href="https://myquestionlife.com/inverse-charisma/#:~:text=far%20more%20powerful.-,Inverse%20charisma,-is%20someone%E2%80%99s%20ability">Inverse charisma</a>
        <ul>
          <li>Magnetic quality of a great listener</li>
        </ul>
      </li>
      <li>Binary bias
        <ul>
          <li>A basic human tendency to seek clarity and closure by simplifying a complex continuum into two categories.</li>
        </ul>
      </li>
      <li>Psychological safety
        <ul>
          <li>Forstering a climate with respect, trust, and openness in which people can raise concerns and suggestions without fear of reprisal.</li>
          <li>Not a matter of relaxing standards, making people feel comfortable, being nice and aggreeable, or giving unconditional praise.</li>
        </ul>
      </li>
      <li><a href="https://en.wikipedia.org/wiki/Escalation_of_commitment">Escalation of commitment</a>
        <ul>
          <li>Grit (passion and perseverance) might prevent us from rethinking.</li>
          <li>There’s a fine line between heroic persistence and foolish  stubbornness. Sometimes the best kind of grit is gritting our teeth and turning around.</li>
        </ul>
      </li>
      <li><a href="https://en.wikipedia.org/wiki/Counterfactual_thinking">Counterfacutal thinking</a>
        <ul>
          <li>I am conducting conterfacutal thinking a lot, what if …</li>
          <li>As I learned from the Computational Applied Logic course, if the IF statement is true, you can append anything statements after it. I always do this trick with my wife.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="https://en.wikipedia.org/wiki/Ship_of_Theseus">Ship of Theseus</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Planck%27s_principle">Planck’s principle</a></li>
</ul>
<hr />
<p><img src="https://m.media-amazon.com/images/I/51UTJF+D3dL._SL500_.jpg" alt="Fierce Conversations: Achieving Success at Work &amp; in Life, One Conversation at a Time" style="width:40%;" /></p>
<h1 id="fierce-conversations-achieving-success-at-work--in-life-one-conversation-at-a-time">Fierce Conversations: Achieving Success at Work &amp; in Life, One Conversation at a Time</h1>
<ul>
  <li>Two people in a conversation amount of four people talking. The four are what one person says, what s/he really wanted to say, what her/his listener heard, and what s/he thought her/his lisnener heard.</li>
  <li>If you really want to resolve the issue, go directly to the source and confront the person’s behavior one to one in private.</li>
  <li>After receiving the feedback, as a leader, you have one chance to get this right. If you push back or get defensive, chances are you may never get feedback again. Your job is to remain curious and grateful for whatever you get in order to pave the way for more meaningful feedback once the trust has been built.</li>
  <li>As a leader, part of your job is to consistently let people know what they are doing well to reinforce those positive behaviors into build emotional capital.</li>
  <li>There are 7 components to an opening statement:
    <ol>
      <li>Name the issue</li>
      <li>Select the specific example that illustrates the bahavior or situation that you want to change</li>
      <li>Describe your emotions about this issue</li>
      <li>Clarify what is at the stake</li>
      <li>Identify your contribution to this problem</li>
      <li>Indicate your wish to resolve the issue</li>
      <li>Invite your partner to respond</li>
    </ol>
  </li>
  <li>Don’t just tell people that you love them. Tell them why you love them, and what it is about them that you love specifically.</li>
  <li>Fierce conversations require slience.</li>
  <li>If you want your children to talk to you, make slience your primary skill. The author used to interrogate her daughters lovingly each day on the way home from school: what did you do at school today? did you have fun? what did you learn? Such questions rarely elicit the responses that we hoped for. Gradually, the author learned the more she allowed slience following her questions, the more her daughters would be willingly to fill with the works like: guess what my teacher said, or want to hear something really weird. When her daughters spoke, the author entice them to continue by simply saying “Uh-huh”, “Wow”, “I see”, “Really” or even “No way” or simply nod and smile.</li>
</ul>
<p>/end</p>
  </div>
</div>
</article>
    </main>
<footer class="footer">
  <ul class="social">
  <li>
    <a href="https://scholar.google.com/citations?user=NRbTY7EAAAAJ" class="icon-google-scholar" target="_blank">
      <i class="ai ai-google-scholar"></i>
    </a>
  </li>
  <li>
    <a href="http://github.com/Winbobob" class="icon-github" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/in/zhewei-hu" class="icon-linkedin" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  <li>
    <a href="https://hub.docker.com/u/winbobob" class="icon-docker" target="_blank">
      <i class="fab fa-docker"></i>
    </a>
  </li>
  <!-- <li>
    <a href="/feed.xml" target="_blank"><i class="fa fa-feed"></i></a>
  </li> -->
</ul>
</footer>
<a class="scroll-up fa fa-chevron-up bounce" href="#" data-position="0"></a>
<div id="modalSearch" class="modal-search" ng-app="searchApp">
  <div class="modal-search__overlay"></div>
  <div class="modal-search__content">
    <a href="#" class="modal-search-close" data-modal-close><img src="/assets/images/close.svg" alt="close search"></a>
    <div class="modal-search-container" ng-controller="searchController">
      <div class="form-group">
        <input type="text" class="modal-search-input" ng-keyup="pesquisar(search)" ng-model="search" placeholder="ruby, rails, expertiza, software development, data mining..." autocomplete="off">
        <i class="fa fa-search"></i>
      </div>
      <ul class="search-results" ng-show="posts.length > 0">
        <li ng-repeat="post in posts | filter:search">
          <a href="{( post.url )}">
            <span>{( post.title )}</span> <small>{( post.category )}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>