<!DOCTYPE html>
<html class="no-js" lang="pt-br" itemscope itemtype="http://schema.org/WebPage">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zS1dSn20XtA4FJYEOQLXqI0boxZdMnJ2g3beje-cl20">
    <title>Blogs | Zhewei Hu</title>
    <meta name="description" content="DevOps | Ruby on Rails">
    <meta name="keywords" content="Web application, Ruby, Ruby on Rails, RSpec, FactoryBot, Capybara, Git, MySQL, Heroku, Amazon AWS">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="theme-color" content="#333333">
    <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="100003797913346">
    <meta property="fb:app_id" content="585852118228520">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://zhewe.me/blog/">
    <meta property="og:title" content="Blogs | Zhewei Hu">
    <meta property="og:image" content="http://zhewe.me/assets/images/facebook.png">
    <meta property="og:description" content="DevOps | Ruby on Rails">
    <meta property="og:site_name" content="Zhewei Hu">
    <meta property="og:locale" content="pt_BR">
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nandomoreirame">
    <meta name="twitter:title" content="Blogs | Zhewei Hu">
    <meta name="twitter:description" content="DevOps | Ruby on Rails">
    <meta name="twitter:image:src" content="http://zhewe.me/assets/images/facebook.png">
    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="Blogs | Zhewei Hu">
    <meta itemprop="description" content="DevOps | Ruby on Rails">
    <meta itemprop="image" content="http://zhewe.me/assets/images/facebook.png">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/ico/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/images/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- rel prev and next -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="/assets/js/main.js"></script>
    <!-- Canonical link tag -->
    <link rel="canonical" href="http://zhewe.me/blog/">
    <link rel="alternate" type="application/rss+xml" title="Zhewei Hu" href="http://zhewe.me/feed.xml">
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-52446115-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript">
      var disqus_shortname = '';
    </script>
</head>
  <body class=" blog">
    <header class="header">
  <div class="header-in">
    <a href="/">
      <img src="/assets/images/author.png" alt="author thumb" class="dot author-thumb">
    </a>
    <h1 itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">Zhewei Hu</strong><br>DevOps | Ruby on Rails | Ph.D. student, TA/RA@NCSU | SDE Intern@Offers.com | SDE (DevOps) Intern@IBM</h1>
    <nav class="nav" role="navigation">
      <ul class="navbar" role="menu">
        <li role="menuitem"><a href="https://goo.gl/aAiUji" target="_blank" class="after">Resume</a></li>
        <li role="menuitem"><a href="/project" class="after">Projects</a></li>
        <li role="menuitem"><a href="/about" class="after">About</a></li>
        <!--<li role="menuitem"><a href="/timeline" class="after">Timeline</a></li>-->
        <li role="menuitem" class="search">
          <a href="#" data-modal-search="modalSearch" class="after"><i class="fa fa-search"></i> <span>Search</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
    <main class="wrapper" role="main" itemprop="mainContentOfPage">
      <div class="posts container">
</div>
    </main>
<footer class="footer">
  <ul class="social">
  <li>
    <a href="http://github.com/Winbobob" class="icon-github" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/in/zhewei-hu" class="icon-linkedin" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="https://hub.docker.com/u/winbobob" class="icon-docker" target="_blank">
      <i class="fa fa-docker"></i>
    </a>
  </li>
  <li>
    <a href="/feed.xml" target="_blank"><i class="fa fa-feed"></i></a>
  </li>
</ul>
</footer>
<a class="scroll-up fa fa-chevron-up bounce" href="#" data-position="0"></a>
<div id="modalSearch" class="modal-search" ng-app="searchApp">
  <div class="modal-search__overlay"></div>
  <div class="modal-search__content">
    <a href="#" class="modal-search-close" data-modal-close><img src="/assets/images/close.svg" alt="close search"></a>
    <div class="modal-search-container" ng-controller="searchController">
      <div class="form-group">
        <input type="text" class="modal-search-input" ng-keyup="pesquisar(search)" ng-model="search" placeholder="ruby, rails, expertiza, software development, data mining..." autocomplete="off">
        <i class="fa fa-search"></i>
      </div>
      <ul class="search-results" ng-show="posts.length &gt; 0">
        <li ng-repeat="post in posts | filter:search">
          <a href="%7B(%20post.url%20)%7D">
            <span>{( post.title )}</span> <small>{( post.category )}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
  </body>
</html>
