.modal-search,
.modal-search__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-search-close {
  position: absolute;
  top: 0;
  right: 20px;
  border: none;
  padding: 5px 10px;
  margin: 0;
  opacity: .8;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  @include font-size(68px);
  border: none;
  border-radius: 4px;

  &, &:hover, &:focus {
    text-decoration: none;
    color: $white-color;
  }

  @include media(max-width $screen-tablet) {
    top: -20px;
  }
}

body.modal-search--open {
  overflow: hidden !important;
}

.modal-search {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1001;
  width: 100%;
}

.modal-search__overlay {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  @include opacity(0);
  visibility: hidden;
  background-color: $black-color;
  background-color: rgba($black-color,.95);
  transition: opacity 0.3s;
}

.modal-search--open .modal-search__overlay {
  @include opacity(1);
  visibility: visible;
  pointer-events: auto;
}

.modal-search__content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  min-width: 290px;
  background: transparent;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0;
}

.modal-search--open .modal-search__content {
  pointer-events: auto;
}

/* Content */
.modal-search h2 {
  margin: 0;
  font-weight: 400;
  font-size: 2em;
  padding: 0 0 2em;
  margin: 0;
}

.modal-search.modal-search--open .modal-search__content,
.modal-search.modal-search--close .modal-search__content {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.modal-search.modal-search--open .modal-search__content {
  animation-name: anim-open;
}

.modal-search.modal-search--close .modal-search__content {
  animation-name: anim-close;
}

@keyframes anim-open {
  0% { opacity: 0; transform: scale3d(1.1, 1.1, 1); }
  100% { opacity: 1; transform: scale3d(1, 1, 1); }
}

@keyframes anim-close {
  0% { opacity: 1; }
  100% { opacity: 0; transform: scale3d(0.9, 0.9, 1); }
}

//
// Search
//

.search-label {
  margin-bottom: 20px;
  font-weight: 700;
  font-family: $font-family-base;
  text-transform: uppercase;
  color: $white-color;
  @include font-size(16px);
  margin-top: 26px;

  @include media(max-width $screen-tablet) {
    display: none;
    visibility: hidden;
  }
}

.modal-search-input {
  font-family: $font-family-base;
  width: 100%;
  padding: 6px 50px 6px 0;
  @include font-size(38px);
  text-transform: lowercase;
  font-weight: 300;
  border: 0;
  border-bottom: 1px solid rgba($white-color, .65);
  outline: 0;
  background-color: transparent;
  color: rgba($white-color, .8);

  &:focus,
  &:active {
    box-shadow: none  !important;
    outline: none !important;
  }

  @include media(max-width $screen-tablet) {
    @include font-size(20px);
  }
}

.modal-search-container {
  padding: 7em 10em 0;
  color: $white-color;

  .form-group {
    position: relative;

    i {
      position: absolute;
      top: 40px;
      right: 20px;
    }

    @include media(max-width $screen-tablet) {
      i {
        top: 15px;
        right: 15px;
      }
    }
  }

  @include media(max-width $screen-tablet) {
    padding: 3.2em 2em;
  }

  ::-webkit-input-placeholder {
    text-transform: lowercase;
    color: rgba($white-color, .8);
  }
  :-moz-placeholder { /* Firefox 18- */
    text-transform: lowercase;
    color: rgba($white-color, .8);
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    text-transform: lowercase;
    color: rgba($white-color, .8);
  }
  :-ms-input-placeholder {
    text-transform: lowercase;
    color: rgba($white-color, .8);
  }
}

.search-results {
  text-align: left;
  list-style: none;
  padding: 15px 0;
  margin: 10px 0;

  li {
    padding: 5px 0;
  }

  a {
    overflow: hidden;
    text-decoration: none;
    color: rgba($white-color, .8);
    @include font-size(20px);
    padding: 5px 0;
    border-bottom: 1px solid transparent;
    display: block;

    &:hover {
      border-color:  $white-color;
    }

    span {
      float: left;
      font-family: $font-family-serif;
    }

    small {
      float: right;
      opacity: .6;
    }

    @include media(max-width $screen-tablet) {
      @include font-size(16px);

      span {
        float: none;
      }

      small {
        display: none;
      }
    }
  }
}