//
// Variables
//

$font-family-base: "Raleway", Helvetica, sans-serif !default;
// $font-family-base: "Droid Sans", Helvetica, sans-serif !default;
$font-family-serif: "Droid Serif", sans-serif !default;
$font-family-monospace: "Courier New", monospace !default;
$line-height: 1.7em !default;
$font-size-base: 18px !default;

$gutter: 30px !default;
$gutter-padding: ($gutter/2) !default;
$default-feature: min-width;

$container-tablet-width  : 90% !default;
$container-desktop-width : 760px !default;

$screen-phone   : 480px !default;
$screen-tablet  : 600px !default;
$screen-desktop : 896px !default;

//
// Colors

$primary-color: #f05f5c !default;
$secondary-color: #f4d03f !default;

$white-color: #fff !default;
$silver-color: darken($white-color, 22%) !default; // ~ #ccc
$gray-color: darken($white-color, 42%) !default; // ~ #999
$gray-darck-color: #2d3138 !default;
$black-color: #000 !default;

$bg-color: #f9f9f9 !default;
$txt-color: rgba(#423F37, .9) !default;

$blue-color: #016BA9 !default;

$border-color: #f1f2f3 !default;

// link
$link-color: $primary-color !default;
$link-hover-color: darken($link-color, 10%) !default;