/*======================================
=            Article styles            =
======================================*/

$post-spacing-y: 40px;
$post-spacing-x: 50px;
$post-small-spacing: 15px;

.post {
  @extend .card;
  padding-bottom: 0;
  margin-bottom: 2em;
  overflow: hidden;
  padding: $post-spacing-y ($post-spacing-x / 2) 0;

  @include media($screen-tablet) {
    padding: $post-spacing-y $post-spacing-x 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.6em;
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: .5em;

    @include media($screen-tablet) {
      font-size: 1.9em;
    }
  }

  .post-header {
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;
  }

  .post-meta {
    display: block;

    span, time {
      font-size: 1em;
      font-style: italic;
      margin-right: 10px;
    }

    span, time, a {
      color: $txt-color;
    }
  }

  blockquote,
  .highlight,
  .disqus {
    margin-left: -($post-spacing-x);
    margin-right: -($post-spacing-x);
  }

  .disqus {
    background-color: #f7f8f9;
    border-top: 1px solid #E3E3E3;
    padding-bottom: $post-spacing-y;
    padding-top: 2em;
  }

  .disqus,
  .highlight pre {
    padding-left: $post-spacing-x;
    padding-right: $post-spacing-x;
  }

  .highlight pre {
    padding-top: $post-spacing-y;
    padding-bottom: $post-spacing-y;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

body:not(.single) {
  .post {
    padding-bottom: $post-spacing-y;
    margin-bottom: 4em;

    .post-title {
      @include font-size(22px);
      margin-bottom: .2em;

      @include media($screen-tablet) {
        @include font-size(30px);
        line-height: $line-height;
      }
    }

    .post-header {
      margin-bottom: .5em;
    }

    .post-title,
    a.read-more {
      text-decoration: none;
      color: $txt-color;

      &:focus,
      &:hover {
        color: $link-hover-color;
      }
    }
  }

}