/*======================================
=            Article styles            =
======================================*/

$post-spacing-y: 40px;
$post-spacing-x: 50px;
$post-small-spacing: 15px;

.post {
  padding: 0;
  margin: {
    top: 3em !important;
    bottom: 0 !important;
  };

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.6em;
  }

  h2, h3, h4 {
    margin-top: 1.8em;
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: {
      top: 0;
      bottom: .5em;
    };

    @include media($screen-tablet) {
      font-size: 1.9em;
    }
  }

  .post-header {
    margin-bottom: 2em;
  }

  .post-photo {
    max-height: 350px;
    overflow: hidden;
    margin-bottom: 1.4em;
  }

  .post-meta {
    display: block;

    span, time {
      font-size: .8em;
      font-style: italic;
      color: #999;
      margin-right: 10px;
    }

    span, time, a {
      color: $txt-color;
    }
  }

  .highlight pre {
    padding: ($post-spacing-y/2);

    code {
      padding: 0 !important;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.disqus {
  background-color: #efefef;
  margin-top: 0;
  padding-top: 2em;
  padding-bottom: $post-spacing-y;

  h3 {
    margin-top: 0;
  }
}

.posts {
  .post {
    @extend .card;
    padding: $post-spacing-y $post-spacing-x;
    margin: {
      top: 3em !important;
      bottom: 3em !important;
    };

    .post-title {
      @include font-size(22px);
      margin-bottom: .2em;

      @include media($screen-tablet) {
        @include font-size(30px);
        line-height: $line-height;
      }
    }

    .post-header {
      margin-bottom: .5em;
    }

    .post-title,
    a.read-more {
      text-decoration: none;
      color: $txt-color;

      &:focus,
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

.post-footer {
  background-color: #272822 !important;
  margin: 2em 0 0;
  padding: 2em 0 0;

  h4, p {
    color: $white-color;
  }

  h4 {
    @include font-size(18px);
    font-weight: 300;
    margin: 0;
  }

  p {
    margin: 1em 0 0;
    line-height: 1.7em;
    @include font-size(14px);
  }

  .author {
    margin-right: 180px;
  }

  .author-thumb {
    width: 100px;
    float: left;
    margin-right: 1em;
  }

  h4 a {
    color: #2e2e2e;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .share {
    position: absolute;
    width: 140px;
    top: 1.4em;
    right: 0;
    text-align: center;

    h4 {
      margin-bottom: .6em;
    }

    a {
      font-size: 1.6em;
      display: inline-block;
      margin: 0 .3em 0;
      color: $gray-color;
      text-decoration: none;
      border: none;

      &:hover {
        color: $white-color;
      }
    }
  }

  @include media(max-width $screen-phone) {
    .author,
    .author-thumb,
    .share {
      float: none;
      padding: 0;
      margin: 0;
      position: relative;
      text-align: center;
      clear: both;
    }

    .share {
      top: auto;
      margin: 2em auto;
    }

    .author-thumb {
      display: inline;
      margin-bottom: 1em;
    }
  }
}

.page-template {
  .post-header {
    margin-bottom: 0;
  }

  .post {
    margin: {
      top: 1.6em !important;
    };
  }
}