/*====================================
=            Banner style            =
====================================*/

.banner {
  background: #2B7369 url("/assets/images/banner.jpg") center top fixed;
  background-size: cover;
  text-align: center;
}

body.home {
  width: 100%;
  display: table;

  .wrapper {
    @extend .banner;
    display: table-cell;
    vertical-align: middle;
  }
}

.banner,
.hero {
  padding: 0;
  margin: 0;
  line-height: 1.75;

  .hero-inner {
    padding: 1em 2.5em;
  }

  :last-child {
    margin-bottom: 0;
  }

  img {
    padding: 3px;
    border: 1px solid rgba($white-color, .3);
  }

  h2 {
    font-family: $font-family-base;
    color: $silver-color;
    margin-bottom: 1.75em;
    font-size: 1.2em;
    font-weight: 200;
    text-transform: none;

    strong {
      color: $white-color;
      display: block;
      font-size: 1.1em;
      line-height: 1.65;
      text-transform: uppercase;
      font-weight: 700;
    }

    em {
      font-weight: 400;
    }
  }

  .social {
    margin-top: 2em;

    li {
      padding: 0 1.4em;
    }
  }

  @include media($screen-tablet) {
    .hero-inner {
      padding: 10em 1.8em;
    }

    h2 {
      font-size: 1.4em;

      strong {
        font-size: 1.6em;
        line-height: 1.35;
      }
    }
  }

  @include media($screen-desktop) {
    .hero-inner {
      padding: 8em 1.6em 6em;
    }

    h2 {
      font-size: 1.8em;

      strong {
        font-size: 2em;
      }
    }
  }
}

.about .banner {
  padding: 8em 1.6em 6em;
  margin-bottom: 2em;
}