/*====================================
=            Footer Style            =
====================================*/

.footer {
  padding: 4em 0 2em;
  background: $white-color;
  text-align: center;

  p {
    small {
      color: #999;
    }

    @include media($screen-desktop) {
      padding-left: 6em;
      padding-right: 6em;
    }
  }

  span {
    font-size: .8em;
    color: #aaa;
  }
}

body:not(.post-template) {
  .footer {
    margin-top: 3em;
  }
}

.social {
  padding: 0;
  margin: 0 0 3em;
  display: none;

  @include media($screen-tablet) {
    display: inline-block;
  }

  li {
    display: inline-block;
    padding: 0 2em;
  }

  a {
    text-decoration: none;
    color: #999;
    @include transition(opacity .2s ease);
    @include opacity(.7);
    text-align: center;
    display: inline-block;
    line-height: 60px;
    font-size: 2.4em;

    &:hover,
    &:active {
      @include opacity(.9);
    }
  }
}
