/*====================================
=            Footer Style            =
====================================*/

.footer {
  padding: 4em 0 2em;
  background: $gray-darck-color;
  text-align: center;

  p {
    color: darken($white-color, 18%);

    small {
      color: darken($white-color, 25%);
    }

    @include media($screen-desktop) {
      padding-left: 6em;
      padding-right: 6em;
    }
  }

  span {
    display: block;
    font-size: .7em;
    margin-top: 1em;
    color: darken($white-color, 20%);
  }
}

body:not(.post-template) {
  .footer {
    margin-top: 3em;
  }
}

.social {
  padding: 0;
  margin: 0 0 3em;

  li {
    display: inline-block;
    padding: 0 1.2em;

    @include media($screen-tablet) {
      padding: 0 2em;
    }
  }

  a {
    text-decoration: none;
    color: darken($white-color, 20%);
    @include transition(opacity .2s linear, color .2s linear);
    @include opacity(.7);
    text-align: center;
    display: inline-block;
    line-height: 60px;
    font-size: 2.4em;

    &:hover,
    &:focus,
    &:active {
      @include opacity(.9);
      color: $secondary-color;
    }
  }
}

html.no-js {
  .scroll-up {
    bottom: 10px !important;
  }

  .navbar .search {
    display: none;
    visibility: hidden;
  }
}