
<article role="article" class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <header class="post-header">
    <h1 class="post-title">
      <a href="{{ post.url }}" title="Permalink para: {{ post.title }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}"> {{ post.date | date: '%B %d, %Y' }}
      </time>

      {% comment %}
      {% if comments %}
        <span> | <i class="fa fa-comments"></i> <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Deixe um comentário</a></span>
      {% endif %}
      {% endcomment %}

      <span> - {% if post.categories.size > 0 %}
        {% capture categories_content %}{% endcapture %}
        {% for post_category in post.categories %}
          {% for data_category in site.data.categories %}
            {% if data_category.slug == post_category %}
              {% assign category = data_category %}
            {% endif %}
          {% endfor %}

          {% if category %}
            {% capture categories_content_temp %}{{ categories_content }}<a href="/categoria/{{ category.slug }}/">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign categories_content = categories_content_temp %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% assign categories_content = '' %}
      {% endif %}
      {{ categories_content }}</span>
    </div>
  </header>

  <p>{{ post.content | strip_html | truncatewords: 38 }} <a href="{{ post.url }}" title="Permalink para: {{ post.title }}" class="read-more link"><em>Continue lendo &raquo;</em></a></p>
</article>
