<header class="header">
  <div class="header-in">
    <a href="{{ "/" | prepend: site.baseurl }}">
      <img src="{{ "/assets/images/author.png" | prepend: site.baseurl }}" alt="author thumb" class="dot author-thumb">
    </a>

    <h1 itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">{{ site.name }}</strong><br/>DevOps | Ruby on Rails | Ph.D. student, TA/RA@NCSU | SDE Intern@Offers.com | SDE (DevOps) Intern@IBM</h1>

    <nav class="nav" role="navigation">
      <ul class="navbar" role="menu">
        <li role="menuitem"><a href="https://goo.gl/aAiUji" target="_blank" class="after">Resume</a></li>
        <li role="menuitem"><a href="{{ "/project" | prepend: site.baseurl }}" class="after">Projects</a></li>
        <li role="menuitem"><a href="{{ "/about" | prepend: site.baseurl }}" class="after">About</a></li>
        <!--<li role="menuitem"><a href="{{ "/timeline" | prepend: site.baseurl }}" class="after">Timeline</a></li>-->
        <li role="menuitem" class="search">
          <a href="#" data-modal-search="modalSearch" class="after"><i class="fa fa-search"></i> <span>Search</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
