<header class="header">
  {% include svg-pattern.html %}

  <div class="header-in">
    <a href="{{ "/" | prepend: site.baseurl }}">
      <img src="{{ "/assets/images/author.jpg" | prepend: site.baseurl }}" alt="author thumb" class="dot author-thumb">
    </a>

    <h1 itemscope itemtype="http://schema.org/Person">Olá meu nome é <strong itemprop="name">{{ site.name }}</strong> eu sou <em itemprop="jobTitle">Front-end</em> e gosto muito de café!</h1>

    <nav class="nav" role="navigation">
      <ul class="navbar" role="menu">
        <li role="menuitem"><a href="{{ "/blog" | prepend: site.baseurl }}" class="after">Blog</a></li>
        <li role="menuitem"><a href="{{ "/about" | prepend: site.baseurl }}" class="after">Sobre</a></li>
        <li role="menuitem"><a href="{{ "/contato" | prepend: site.baseurl }}" class="after">Contato</a></li>
        <li role="menuitem" class="search">
          <a href="#" data-modal-search="modalSearch" class="after"><i class="fa fa-search"></i> <span>Busca</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
