<header class="header">
  <style>
    #particles-js {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #333;
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
  </style>

  <div class="header-in">
    <a href="{{ "/" | prepend: site.baseurl }}">
      <img src="{{ "/assets/images/author.png" | prepend: site.baseurl }}" alt="author thumb" class="dot author-thumb">
    </a>

    <h1 itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">{{ site.name }}</strong> I am a <em itemprop="jobTitle">Rails developer</em> and like fishing!</h1>

    <nav class="nav" role="navigation">
      <ul class="navbar" role="menu">
        <li role="menuitem"><a href="{{ "/project" | prepend: site.baseurl }}" class="after">Projects</a></li>
        <li role="menuitem"><a href="{{ "/about" | prepend: site.baseurl }}" class="after">About</a></li>
        <li role="menuitem"><a href="{{ "/contact" | prepend: site.baseurl }}" class="after">Contact</a></li>
        <li role="menuitem" class="search">
          <a href="#" data-modal-search="modalSearch" class="after"><i class="fa fa-search"></i> <span>Search</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
