
<div id="modalSearch" class="modal-search" ng-app="searchApp">

  <div class="modal-search__overlay"></div>

  <div class="modal-search__content">
    <a href="#" class="modal-search-close" data-modal-close><img src="/assets/images/close.svg"></a>

    <div class="modal-search-container" ng-controller="searchController">
      <div class="form-group">
        <input type="text" class="modal-search-input" ng-keyup="pesquisar(search)" ng-model="search" placeholder="sass, javascript, ruby, gulp..." autofocus autocomplete="off">
        <i class="fa fa-search"></i>
      </div>
      <ul class="search-results" ng-show="posts.length > 0">
        <li ng-repeat="post in posts | filter:search">
          <a href="{( post.url )}">
            <span>{( post.title )}</span> <small>{( post.category )}</small>
          </a>
        </li>
      </ul>
    </div>

  </div>

</div>
