<ul class="social">

  {% if site.author.google_scholar %}
  <li>
    <a href="{{ site.author.google_scholar }}" class="icon-google-scholar" target="_blank">
      <i class="ai ai-google-scholar"></i>
    </a>
  </li>
  {% endif %}

  {% if site.author.github %}
  <li>
    <a href="{{ site.author.github }}" class="icon-github" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </li>
  {% endif %}

  {% if site.author.linkedin %}
  <li>
    <a href="{{ site.author.linkedin }}" class="icon-linkedin" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  {% endif %}

  {% if site.author.docker %}
  <li>
    <a href="{{ site.author.docker }}" class="icon-docker" target="_blank">
      <i class="fab fa-docker"></i>
    </a>
  </li>
  {% endif %}

  <!-- <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-feed"></i></a>
  </li> -->

</ul>
