<ul class="social">

  {% if site.author.github %}
  <li>
    <a href="{{ site.author.github }}" class="icon-github" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </li>
  {% endif %}

  {% if site.author.facebook %}
  <li>
    <a href="{{ site.author.facebook }}" class="icon-facebook" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  {% endif %}

  {% if site.author.twitter %}
  <li>
    <a href="{{ site.author.twitter }}" class="icon-twitter" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  {% endif %}

  {% if site.author.instagram %}
  <li>
    <a href="{{ site.author.instagram }}" class="icon-instagram" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
  </li>
  {% endif %}

  {% if site.author.linkedin %}
  <li>
    <a href="{{ site.author.linkedin }}" class="icon-linkedin" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
  {% endif %}

  {% if site.author.docker %}
  <li>
    <a href="{{ site.author.docker }}" class="icon-docker" target="_blank">
      <i class="fa fa-docker"></i>
    </a>
  </li>
  {% endif %}

  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-feed"></i></a>
  </li>

</ul>
