---
layout: default
post_class: post-template page-template
---

<header class="main-header post-head" style="background-image: url({% if page.cover %}{{ page.cover }}{%else%}{{ site.cover }}{% endif %})">
  <nav class="main-nav {% if page.cover %}overlay{% endif %} clearfix">
    <a class="back-button icon-arrow-left" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="subscribe-button icon-feed" href="{{ "/rss.xml" | prepend: site.baseurl }}" target="_blank">RSS</a>
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{ page.title }}</h1>
      {% if page.slug == 'about' %}
        <br><br>
        <figure><img src="{{ site.author.image }}" class="dot" title="{{ site.author.name }}" alt="{{ site.author.name }}"></figure>
      {% endif %}
    </div>
  </div>
</header>

<main class="content" role="main">
  <article class="post">
    <section class="post-content">
      {{content}}
    </section>
  </article>
</main>
