---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head" style="background-image: url({% if page.cover %}{{ page.cover }}{%else%}{{ site.cover }}{% endif %})">
  <nav class="main-nav overlay clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">RSS</a>
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{ page.title }}</h1>
      <h2 class="page-description">
        <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }} de
          {% case m %}
            {% when '1' %}Janeiro
            {% when '2' %}Fevereiro
            {% when '3' %}Março
            {% when '4' %}Abril
            {% when '5' %}Maio
            {% when '6' %}Junho
            {% when '7' %}Julho
            {% when '8' %}Agosto
            {% when '9' %}Setembro
            {% when '10' %}Outubro
            {% when '11' %}Novembro
            {% when '12' %}Dezembro
          {% endcase %}
          de {{ page.date | date: "%Y" }}
        </time>
        {% if page.categories.size > 0 %}
        {{ page.categories | array_to_sentence_string | prepend: 'em ' }}
        {% endif %}
      </h2>
    </div>
  </div>
</header>

<main class="content" role="main">

  <article class="post">

    <section class="post-content">
      {{content}}
    </section>

    {% if page.archive %}
    <section class="archive">
      <h5>Arquivo</h5>
      <ul>
        {% for post in site.posts %}
        <li><span>
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }} de
          {% case m %}
            {% when '1' %}Janeiro
            {% when '2' %}Fevereiro
            {% when '3' %}Março
            {% when '4' %}Abril
            {% when '5' %}Maio
            {% when '6' %}Junho
            {% when '7' %}Julho
            {% when '8' %}Agosto
            {% when '9' %}Setembro
            {% when '10' %}Outubro
            {% when '11' %}Novembro
            {% when '12' %}Dezembro
          {% endcase %}
          de {{ page.date | date: "%Y" }}
        </span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}

    <footer class="post-footer">
      {% if site.author %}
      <figure class="author-image">
        <a class="img" href="{{ site.baseurl }}" style="background-image: url({{ site.author.image }})"><span class="hidden">{{site.author}}</span></a>
      </figure>
      <section class="author">
        <h4> {{ site.author.name }} </h4>
        <p>
          Here goes the author description. You might want to place some links too in here
        </p>
      </section>
      {% endif %}

      {% include share.html %}

      {% if page.disqus %}
      {% include disqus.html %}
      {% endif %}

    </footer>

  </article>

</main>
