---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head" style="background-image: url({% if page.cover %}{{ page.cover }}{%else%}{{ site.cover }}{% endif %})">
  {% include nav.html %}
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title fade-in-down">{{ page.title }}</h1>
      <h2 class="page-description">
        <span class="post-date">
          Publicado <time datetime="{{ page.date | date:"%Y-%m-%d" }}">
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }} de
            {% case m %}
              {% when '1' %}Janeiro
              {% when '2' %}Fevereiro
              {% when '3' %}Março
              {% when '4' %}Abril
              {% when '5' %}Maio
              {% when '6' %}Junho
              {% when '7' %}Julho
              {% when '8' %}Agosto
              {% when '9' %}Setembro
              {% when '10' %}Outubro
              {% when '11' %}Novembro
              {% when '12' %}Dezembro
            {% endcase %}
            de {{ page.date | date: "%Y" }}
          </time>

          {% assign post = page %}
          {% if post.categories.size > 0 %}
            {% capture categories_content %} em: {% endcapture %}
            {% for post_category in post.categories %}
              {% for data_category in site.data.categories %}
                {% if data_category.slug == post_category %}
                  {% assign category = data_category %}
                {% endif %}
              {% endfor %}
              {% if category %}
                {% capture categories_content_temp %}{{ categories_content }}<a href="/categoria/{{ category.slug }}/">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                {% assign categories_content = categories_content_temp %}
              {% endif %}
            {% endfor %}
          {% else %}
            {% assign categories_content = '' %}
          {% endif %}

          {{ categories_content }}
        </span>
      </h2>
    </div>
  </div>
</header>


<main class="content" role="main">

  <article class="post">

    <section class="post-content">
      {{content}}

      <div class="post-meta">
        {% assign post = page %}
        {% if post.tags.size > 0 %}
          {% capture tags_content %}Publicado em: {% endcapture %}
          {% for post_tag in post.tags %}
            {% for data_tag in site.data.tags %}
              {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
              {% endif %}
            {% endfor %}
            {% if tag %}
              {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
              {% assign tags_content = tags_content_temp %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% assign tags_content = '' %}
        {% endif %}
        <small>{{ tags_content }}</small>
      </div>
    </section>

    {% if page.archive %}
    <section class="archive">
      <h5>Arquivo</h5>
      <ul>
        {% for post in site.posts %}
        <li><span>
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }} de
          {% case m %}
            {% when '1' %}Janeiro
            {% when '2' %}Fevereiro
            {% when '3' %}Março
            {% when '4' %}Abril
            {% when '5' %}Maio
            {% when '6' %}Junho
            {% when '7' %}Julho
            {% when '8' %}Agosto
            {% when '9' %}Setembro
            {% when '10' %}Outubro
            {% when '11' %}Novembro
            {% when '12' %}Dezembro
          {% endcase %}
          de {{ page.date | date: "%Y" }}
        </span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}

    {% comment %}
    <hr>
    <div class="alert">
      <small><strong>Moçada, gostaria muito da ajuda de vocês com revisões nos meus textos.
      Se por acaso você esta lendo esse artigo e encontrou algum erro, não fique acanhado, reporte a <a href="mailto:nandomoreira.me@gmail.com">mim</a> e ficaremos todos felizes.</strong></small>
    </div>
    {% endcomment %}

    <footer class="post-footer">
      {% if site.author %}
      <figure class="author-image">
        <a class="img" href="{{ site.author.twitter }}" target="_blank" style="background-image: url({{ site.author.image }})"><span class="hidden">{{site.author}}</span></a>
      </figure>
      <section class="author">
        <h4>Sobre {{ site.author.name }} </h4>
        <p>{{ site.author.bio }}</p>
      </section>
      {% endif %}

      {% include share.html %}

      {% if site.comments and page.comments %}
        {% include comments.html %}
      {% endif %}

    </footer>

  </article>

</main>
