---
layout: default
slug: single
---

<article class="post">

  <header class="post-header">
    <div class="post-meta">
      <span><time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }} de
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %}
      de {{ page.date | date: "%Y" }}
      </time></span>
      <span>|</span>
      <span>
        <a href="{{ site.baseurl }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ site.baseurl }}{{ page.url }}">Deixe um comentário</a>
      </span>
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <hr>

  <footer class="share">
    <h3>Gostou? Compartilhe: </h3>
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_googleplus_hcount' displayText='Google +'></span>
    <span class='st_fblike_hcount' displayText='Facebook Like'></span>
    <span class='st_plusone_hcount' displayText='Google +1'></span>
  </footer>

</article>

{% if page.comments %}
  {% include comments.html %}
{% endif %}

{% comment %}
<hr>

{% if site.related_posts != empty %}
  {% include related-posts.html %}
{% endif %}
{% endcomment %}