//
// * Clean Blog v1.0.0 (http://startbootstrap.com)
//


.presentation {
  background: url('/assets/images/home.jpg') no-repeat 50%;
  @include background-size(cover);
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .navbar-brand {
    font-weight: 800;
  }

  .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;

    .navbar-brand {
      color: white;
      padding: 20px;

      &:hover, &:focus {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .nav li a {
      color: white;
      padding: 20px;

      &:hover, &:focus {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;

    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -61px;
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid #f2f2f2;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;

      .navbar-brand {
        color: #404040;

        &:hover, &:focus {
          color: #0085a1;
        }
      }

      .nav li a {
        color: #404040;

        &:hover, &:focus {
          color: #0085a1;
        }
      }
    }

    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}

.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;

  .site-heading, .post-heading, .page-heading {
    padding: 100px 0 50px;
    color: white;
  }

  .site-heading, .page-heading {
    text-align: center;
  }

  .site-heading h1, .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
  }

  .site-heading .subheading, .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
  }

  .post-heading {
    h1 {
      font-size: 35px;
    }

    .subheading, .meta {
      line-height: 1.1;
      display: block;
    }

    .subheading {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 600;
    }

    .meta {
      font-family: 'Lora', 'Times New Roman', serif;
      font-style: italic;
      font-weight: 300;
      font-size: 20px;

      a {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading, .post-heading, .page-heading {
      padding: 150px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading h1, .page-heading h1 {
      font-size: 80px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading {
    h1 {
      font-size: 55px;
    }

    .subheading {
      font-size: 30px;
    }
  }
}

.post-preview > {
  a {
    color: #404040;

    &:hover, &:focus {
      text-decoration: none;
      color: #0085a1;
    }

    > {
      .post-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
      }

      .post-subtitle {
        margin: 0;
        font-weight: 300;
        margin-bottom: 10px;
      }
    }
  }

  .post-meta {
    color: #808080;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;

    > a {
      text-decoration: none;
      color: #404040;

      &:hover, &:focus {
        color: #0085a1;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  padding: 50px 0 65px;

  .list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;

  input, textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }

  label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
  }

  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
  }
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085a1;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  &:hover, &:focus {
    background-color: #0085a1;
    border: 1px solid #0085a1;
    color: white;
  }
}

.pager {
  margin: 20px 0 0;

  li > {
    a, span {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 15px 25px;
      background-color: white;
      border-radius: 0;
    }

    a {
      &:hover, &:focus {
        color: white;
        background-color: #0085a1;
        border: 1px solid #0085a1;
      }
    }
  }

  .disabled > {
    a {
      color: #808080;
      background-color: #404040;
      cursor: not-allowed;

      &:hover, &:focus {
        color: #808080;
        background-color: #404040;
        cursor: not-allowed;
      }
    }

    span {
      color: #808080;
      background-color: #404040;
      cursor: not-allowed;
    }
  }
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: #0085a1;
}
