---
layout: home
title: Home
slug: home
---

<section class="hero">
  {% include svg-pattern.html %}
  <div class="hero-inner">
    <div class="filter"></div>
    <img src="{{ "/assets/images/author.jpg" | prepend: site.baseurl }}" alt="author thumb" class="dot author-thumb">
    <h1 itemscope itemtype="http://schema.org/Person">Olá meu nome é <strong itemprop="name">{{ site.name }}</strong> eu sou <em itemprop="jobTitle">Front-end</em> e gosto muito de café!</h1>
    <nav class="actions">
      <a href="{{ "/blog" | prepend: site.baseurl }}" class="button ghost" role="button">Artigos</a>
      <a href="{{ "/about" | prepend: site.baseurl }}" class="button ghost" role="button">Sobre</a>
      {% include social.html %}
    </nav>
  </div>
</section>