*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  -webkit-tap-highlight-color: rgba($black-color, 0);
}

body {
  background-color: $base-background-color;
}

figure {
  margin: 0;
  padding: 0;
}

sup {
  font-size: .8em;
  position: relative;
  top: -.5em;
}

.container,
.container-full {
  position: relative;
  padding: {
    left: $gutter;
    right: $gutter;
  };
}

.wrapper {
  padding: $base-spacing 0;
  margin: 0 auto;

  @include media($screen-tablet) {
    max-width: $screen-tablet;
  }

  @include media($screen-desktop) {
    margin-left: $header-medium-width;
    padding: ($base-spacing*2);
  }

  @include media($screen-large-desktop) {
    max-width: $screen-tablet;
    margin-left: $header-large-width;
  }
}
