
.header {
  @extend %clearfix;
  background-color: darken($secondary-color, 2%);
  color: $white-color;
  padding: $small-spacing;
  text-align: center;
  overflow: hidden;
  position: relative;

  .svg-pattern {
    position: absolute;
  }

  .header-in {
    position: relative;
    z-index: 10;
  }

  @include media($screen-tablet) {
    padding: $base-spacing $small-spacing;
  }

  @include media($screen-desktop) {
    height: 100%;
    width: $header-medium-width;
    position: fixed;
    padding: $base-spacing;
    left: 0;
    top: 0;
  }

  @include media($screen-large-desktop) {
    padding: ($base-spacing * 3) ($base-spacing * 2);
    width: $header-large-width;
  }

  a {
    text-decoration: none;
    color: $white-color;
  }

  .author-thumb {
    margin: 0 0 $small-spacing 0;
    animation-duration: .5s;
    animation-name: bounce-rotate;
    display: inline;
    width: 6.25em;

    @include media($screen-desktop) {
      margin: 0 0 $base-spacing 0;
    }
  }

  h1 {
    animation-name: bounce-right;
    font-family: $font-family-base;
    color: rgba($white-color, .5);
    line-height: 1.5;
    display: block;
    margin: 0 0 $small-spacing;
    @include font-size(22px);
    font-weight: 400;
    animation-duration: 1s;

    strong, em {
      color: rgba($white-color, .9);
    }

    strong {
      text-transform: uppercase;
    }

    @include media($screen-desktop) {
      @include font-size(20px);
      float: none;
    }

    @include media($screen-large-desktop) {
      @include font-size(26px);
    }
  }
}

.navbar {
  position: relative;
  list-style: none;
  padding: $small-spacing 0 ($small-spacing/2);
  margin: 0;

  @include media($screen-desktop) {
    padding: $small-spacing;
    width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    height: 2px;
    background-color: rgba($white-color, .5);
  }

  li {
    font-size: 1rem;
    margin: 0 .4em;
    padding: 0;

    @include media($screen-desktop) {
      margin: 0 0 .3em;
      display: block;
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
    }
  }

  li, a {
    display: inline-block;
  }

  a {
    padding: .6em;
    line-height: 1;
    color: rgba($white-color, .5);
    text-transform: uppercase;

    &,
    &:visited,
    &:hover,
    &:active {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: relative;
      @include transition(color .4s ease);
    }

    &:after {
      content: "";
      @include transition(all .3s ease);
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      backface-visibility: hidden;
      background: $white-color;
      position: absolute;
      height: 2px;
      width: 0;
      left: 50%;
      bottom: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $white-color;

      &:after {
        width: 100%;
      }
    }
  }

  .search span {
    display: none;

    @include media($screen-tablet) {
      display: inline-block;
    }
  }
}
